<div class="box-title-general contest_img">
  <img src="/assets/orange/img_concurso.jpg">
  <a href="/contest/educa2016/page/submissions" class="btn btn-primary btn-signup-contest">Vota tu recurso favorito</a>
</div>
