<!--<div class="social_ntwoks social_ntwoks_contest">
  <a href="https://twitter.com/EducaInternet" target="_blank"><i class="fa fa-twitter fa-big"></i></a>
  <a href="https://www.facebook.com/EducaInternet-1883580955201114/" target="_blank"><i class="fa fa-facebook fa-big"></i></a>
</div>-->
<div class="box-title-general contest_img">
  <img src="/assets/orange/img_concurso.jpg">
</div>
