
<article class="contest_block">

  <div class="content_block">
    <div class="video_block">
      <!-- video summary -->
        <iframe class="video_presentation" width="480" height="250" src="https://www.youtube.com/embed/2k9zJBIr61E" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text_block">
      <h2><%= t('contest_page.texts_2016.summary.title') %></h2>
      <p class="p_block">
        <%= t('contest_page.texts_2016.summary.text') %>
      </p>
      <a class="btn btn-primary" href="/pdf/BasesConcurso2017.pdf" download="BasesConcurso2017"> <%= t('contest_page.presentation.action1') %></a>
    </div>
  </div>
</article>
