@mixin blocks
  .block_darker
    background: $gray-lighter-extra
  .block, .block_darker
    width: 100%
    padding: 32px
    overflow: hidden
  .block
    background: $white
  .content_block
    margin: 0 auto
    max-width: 1128px
    overflow: hidden
    .text_block, .img_block
      padding: 10px
