@mixin flex_container
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: row wrap
  flex-flow: row wrap
  justify-content: center
  //align-items: center

@mixin flex_container_left
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: row wrap
  flex-flow: row wrap
  justify-content: left

@mixin flex_container_nowrap
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: row nowrap
  flex-flow: row nowrap
  justify-content: center
