
@font-face {
  font-family: 'OHN35';
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue35_W1G.eot?#iefix");
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue35_W1G.eot?#iefix") format("eot"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF2/HelvNeue35_W1G.woff2") format("woff2"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF/HelvNeue35_W1G.woff") format("woff"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/TTF/HelvNeue35_W1G.ttf") format("truetype"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/SVG/HelvNeue35_W1G.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'OHN45';
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue45_W1G.eot?#iefix");
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue45_W1G.eot?#iefix") format("eot"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF2/HelvNeue45_W1G.woff2") format("woff2"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF/HelvNeue45_W1G.woff") format("woff"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/TTF/HelvNeue45_W1G.ttf") format("truetype"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/SVG/HelvNeue45_W1G.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'OHN55';
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue55_W1G.eot?#iefix");
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue55_W1G.eot?#iefix") format("eot"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF2/HelvNeue55_W1G.woff2") format("woff2"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF/HelvNeue55_W1G.woff") format("woff"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/TTF/HelvNeue55_W1G.ttf") format("truetype"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/SVG/HelvNeue55_W1G.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OHN65';
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue65_W1G.eot?#iefix");
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue65_W1G.eot?#iefix") format("eot"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF2/HelvNeue65_W1G.woff2") format("woff2"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF/HelvNeue65_W1G.woff") format("woff"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/TTF/HelvNeue65_W1G.ttf") format("truetype"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/SVG/HelvNeue65_W1G.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OHN75';
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue75_W1G.eot?#iefix");
  src:url("ViSH_style_guide/general/fonts/orange-helvetica-neue/EOT/HelvNeue75_W1G.eot?#iefix") format("eot"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF2/HelvNeue75_W1G.woff2") format("woff2"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/WOFF/HelvNeue75_W1G.woff") format("woff"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/TTF/HelvNeue75_W1G.ttf") format("truetype"),
  url("ViSH_style_guide/general/fonts/orange-helvetica-neue/SVG/HelvNeue75_W1G.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

