<div class="toolbar_nav-tab_workshop">
  <div class="container-fluid">
    <h4 class="edit-workshop-title">
      <%=t('workshop.titles.show_main')%>
    </h4>
    <% if user_signed_in? and (can? :update, resource) %>
      <a href="<%= url %>" class="btn btn-default pull-right" id="edit_<%= edit_id %>"><i class="fa fa-edit"></i><%=t('workshop.actions.edit_mode_btOn')%></a>
    <%end%>
  </div>
</div>
