<div id="change_enrollments" class="panel panel-default">
  <header class="panel-heading">
    <%= link_to t('settings.enrollments.header'), "javascript:void(0);", class: 'accordion-toggle', "data-toggle" => 'collapse', "data-parent" => "#settings-accordion", "data-target" => "#change_enrollments_content" %>
  </header>

  <div class="panel-body collapse" id="change_enrollments_content">
    <%=t('settings.enrollments.cancel_enrollment') %> <%= link_to t('settings.enrollments.disenroll'), registration_path(resource_name), :confirm => t('are_you_sure'), :method => :delete %>
    <!-- cambiar el registration path por la acción de disenroll-->

  </div>

</div>
