<% if Vish::Application.config.facebook %>

  <div id="fb-root"></div>

  <script>(function(){
      if(document.getElementById('facebook-jssdk')){
        return;
      }
      var facebook_js = document.createElement('script');
      facebook_js.id = 'facebook-jssdk';
      facebook_js.src = ("https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=" + "<%=Vish::Application.config.APP_CONFIG['facebook']['appID']%>");
      var head = document.getElementsByTagName('head')[0];
      head.appendChild(facebook_js);
    }());
  </script>

  <div class="fb-like" data-href="<%= url %>" data-layout="button_count" data-action="like" data-width="450" data-show-faces="false" data-share="false"></div>

<% end %>
