<div class="social_ntwoks social_ntwoks_general">
  <a href="https://twitter.com/EducaInternet" target="_blank"><i class="fa fa-twitter fa-big"></i></a>
  <a href="https://www.facebook.com/EducaInternet-1883580955201114/" target="_blank"><i class="fa fa-facebook fa-big"></i></a>
</div>
<div class="box-title-general">
  <img src="/assets/orange/2.jpg">
  <div class="row main-title">
    <h1 class="col-xs-12 title"><%= main_title_body %></h1>
  </div>
</div>
