<% if user_signed_in? and @contest.allowSubmissions?(current_subject.actor) %>
	<%= render partial: 'contests/submissions/form', locals: { contest_category: @contest.categories.first } %>
<% else %>
	<p>Haz login para participar en el Concurso y ganar los mejores premios</p>
<% end %>
