<% if user_signed_in? and @contest.allowSubmissions?(current_subject.actor) %>
	<%= render partial: 'contests/submissions/form', locals: { contest_category: @contest.categories.first } %>
<% else %>
	<p><%=t('contest_page.do_login')%></p>
<% end %>
