//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px)
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top
  margin-left: 0px
  margin-right: 0px
  .container
    .btn-navbar
      margin: 3px !important
      padding: 10px !important
      @include border-radius($baseBorderRadius)
      border: 1px solid $orange-gray-45
      background-color: $white
      background-image: none
      text-shadow: none
      &:hover
        border: 1px solid $orange-primary
        .icon-bar
          background-color: $orange-primary
      .icon-bar
        background-color: $orange-gray-75
        display: block
        height: 1px
        width: 15px
        box-shadow: none
    .nav-collapse
      @include border-radius($baseBorderRadius)
      background-color: $white
      z-index: 99
      .nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus
        background-color: transparent
        box-shadow: none
        color: $orange-primary
      .nav
        float: none
        margin: 0
        li
          width: 90%
          display: block
          clear: both
          height: auto
          a
            width: 98%
            border-radius: 5px
            i
              margin-right: 10px
            img
              width: 30px
              @include border-radius($baseBorderRadius)

        li.user
          margin-bottom: 0 !important
        //cuando está logueado
        .search-ui
          float: left
          .navbar-search
            border: none
            box-shadow: none
            margin: 10px 0 0
            padding: 10px 0
            .search-query
              width: auto
              border-radius: 5px
              height: 25px !important
              margin-top: 0
              padding: 6px 2% !important
              width: 75% !important
            .search_button_class
              padding: 9px
              width: auto
              margin-left: 5px
              border-color: $orange-primary
              .icon-search
                color: $orange-primary
                font-size: 18px

        //cuando no está logueado
        .search-mobile
          float: left
          .navbar-search
            border: none
            box-shadow: none
            margin: 10px 0 0
            padding: 10px 0
            .search_button_class
              padding: 0 5px
              width: auto
              .icon-search
                color: $orange-primary
                font-size: 18px
              .icon-border
                border: 1px solid $orange-primary
                border-radius: 5px
        .sign_in_mobile
          ul.dropdown-menu
            padding: 0
            height: auto
            width: 100%
            margin: 0
            margin-top: 10px
            form
              width: 100%
              display: block
              margin-bottom: 0px
              clear: both
              float: left
              height: auto
              input[type="email"],
              input[type="password"]
                width: 100%
                display: block
                padding: 5px
                height: auto
              input[type="submit"]
                float: right
              a.forgot
                color: $secondColor
                clear: both
                width: 100%
                display: block
                padding: 2px 0
                font-size: 0.9em
                &:hover
                  background: transparent
        .language
          .dropdown-menu
            background-color: transparent
            li
              a
                color: $orange-gray-75
                &:hover
                  background: transparent
