//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (min-width: 979px) and (max-width: 1200px)
  header.navbar,
  .navbar-fixed-top
    .navbar-inner
      padding: 5px 1.5%
      .container
        .search-ui
          float: right
          padding: 2px 10px
          .navbar-search
            .search-query
              width: 94px !important
              padding: 4px
              margin-right: 3px
