<li class="">
  <!-- corner -->
  <div class="corner-item">
    <div class="corner-item2">
      <div class="corner-color"></div>
      <i class='fa fa-lightbulb-o'></i>
    </div>
    <div class="corner-background"></div>
  </div>
  <!-- image/icon -->
  <div class="container-img">
    <div class="img-box">
      <a href="learn" title="<%=title%>"><i class="fa fa-eye"></i></a>
    </div>
  </div>

  <!-- INFO -->
  <div class="caption">
    <!-- Title -->
    <h6>
      <%=title%>
    </h6>    
    <hr>
    <div class="info-bottom">
      <!--like -->
      <div class="like">
        <div class="count">7</div>
        stars
      </div>
      
    </div>
  </div>
</li>