<h2>Crea tu cuenta gratuita y conviértete en un experto en ciberseguridad</h2>
<button class="btn btn_reg">Registrarme</button>
<button class="btn btn_ent">Entrar</button>
<button class="btn btn_exp">Explorar</button>
