
<article class="contest_block">
  <div class="intro">
    <h1>MOMENTO DE LAS VOTACIONES</h1>
    <div class="horizontal_line"></div>
  </div>

  <div class="content_block">
    <h2>Vota tus recursos favoritos y úsalos en tus clases</h2>
    <div class="text_block">

      <p class="p_block align_center">
        La fase de propuestas ha finalizado. Hasta el 22 de febrero puedes votar los recursos que más te gusten de entre todas las propuestas que hemos recibido. Haz click en el siguiente botón, y descubre los materiales que se han presentado.
      </p>
      </br>
      <button class="btn btn-contest disp_block margin_auto" onclick="location.href='/contest/educa2017/page/submissions';">
        Ver recursos & votar
      </button>

    </div>
  </div>
  <br><br>
</article>
