<article class="contest_block padding_bottom60">
  <div class="intro_icon_block">
    <i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i>
  </div>
  <div class="fix_gap"></div>
  <div class="content_block">
    <h2><%= t('contest_page.educatips.title_html')%></h2>
  </div>

  <div class="content_block">
    <p class="p_block basic_block"><%= t('contest_page.educatips.text')%></p>
    <div class="items">
        <% begin
          educaconsejos = [Link.find(504), Document.find(9229), Document.find(9218), Document.find(9228)]
        rescue ActiveRecord::RecordNotFound => e
          educaconsejos = Document.all.sample(4)
        end %>
        <% educaconsejos.each do |doc| %>
          <%= render partial: 'repositories/resource', locals: { resource: doc} %>
        <% end %>
      <div class="clear"></div>
    </div>
  </div>
</article>
