<article class="contest_block_dark">
  <h1>TU COMPROMISO CON LA SEGURIDAD DE INTERNET</h1>
  <div class="horizontal_line"></div>

  <div class="content_block">
    <div class="text_block ">
      <p class="p_block">
        Descarga tu sello de participación del 2º Concurso EducaInternet y convierte a tu centro en referente en el sector educativo. Puedes publicarlo en las redes sociales o en la web de tu colegio.
      </p>
      <button class="btn btn-primary">Descarga tu sello</button>
    </div>
    <div class="img_block">
      <img src="../assets/orange/illustration_seal.png" alt="Sello EducaInternet" class="">
    </div>
  </div>

</article>
