<article class="contest_block_dark">
  <div class="intro">
    <h1><%= t('contest_page.seal.intro')%></h1>
    <div class="horizontal_line"></div>
  </div>

  <div class="content_block maxwidth_60">
    <div class="text_block ">
      <br><br>
      <p class="p_block">
        <%= t('contest_page.seal.text')%>
      </p>
      <a class="btn btn-primary" href="/pdf/certificate.pdf" download="Certificate"><%= t('contest_page.seal.action1')%></a>
    </div>
    <div class="img_block">
      <img src="../assets/orange/illustration_seal.png" alt="Sello EducaInternet" class="">
    </div>
  </div>

</article>
