<article class="contest_block padding_bottom60">
  <div class="intro_icon_block">
    <i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i>
  </div>
  <div class="fix_gap"></div>
  <div class="content_block">
    <div class="intro">
      <h1><%= t('contest_page.educatips.title_html')%></h1>
      <div class="horizontal_line"></div>
    </div>
  </div>

  <div class="content_block hidden-sm hidden-xs">

    <div class="img_block_center">
      <a href="/educatip1" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_first_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip2" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_second_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip3" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_third_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip4" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_forth_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip5" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_fifth_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
  </div>
  <div class="content_block hidden-md hidden-lg">

    <div class="img_block_center">
      <a href="/educatip1m" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_first_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip2m" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_second_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip3m" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_third_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip4m" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_forth_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
    <div class="img_block_center">
      <a href="/educatip5m" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_fifth_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>
  </div>
</article>
