<article class="contest_block">
  <div class="intro">
    <h1><%= t('contest_page.explanation.intro') %></h1>
    <div class="horizontal_line"></div>
  </div>
  <div class="content_block">
    <div class="basic_block">
      <p class="p_block">
        <%= t('contest_page.explanation.text1') %>
      </p>
    </div>
    <div class="basic_block">
      <p class="p_block">
        <%= t('contest_page.explanation.text2') %>      
      </p>
    </div>
  </div>
</article>
