<article class="contest_block">
  <h1>PROFESORES COMO TÚ HACEN IMPORTANTE ESTE CONCURSO</h1>
  <div class="horizontal_line"></div>

  <div class="content_block">
    <div class="basic_block">
      <p class="p_block">
        El concurso EducaInternet es una iniciativa socialmente responsable que nace con la finalidad de implicar a los centros educativos en el uso seguro y responsable de la tecnología de la información y la comunicación.
      </p>
    </div>
    <div class="basic_block">
      <p class="p_block">
        Ponemos materiales a disposición de los profesores para que puedan trabajar con los niños y jóvenes en el aula sobre el uso seguro de las nuevas tecnologías.
      </p>
    </div>
  </div>
</article>
