<article class="contest_block padding_bottom60">
  <div class="intro_icon_block">
    <i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i>
  </div>
  <div class="fix_gap"></div>
  <div class="content_block">
    <div class="intro">
      <h1><%= t('contest_page.educatips.title_html')%></h1>
      <div class="horizontal_line"></div>
    </div>

  </div>

  <div class="content_block">

    <div class="img_block">
      <a href="https://playfilm.azureedge.net/media/published/54ab410a-21ca-4984-8a56-23c838155e39/index.html" target="_blank">
      <i class="fa fa-play-circle-o fa-4x"></i>
      <img src="/assets/orange/contest17_first_tip.jpg" alt="Imagen de David Calle" class="img_contest">
      </a>
    </div>

    <div class="text_block">
      <h2><%=raw t('contest_page.educatips.launch_subtitle') %></h2>
      <p class="p_block">
        <%= t('contest_page.educatips.launch_text') %>
      </p>
    </div>
  </div>
</article>
