
<article class="contest_block">
  <h1>SI TE GUSTAN LOS RETOS, ESTE ES EL TUYO</h1>
  <div class="horizontal_line"></div>

  <div class="content_block">
    <div class="video_block">
      <%if contest_fase == 1 %>
      <!-- video presentation -->
        <iframe class="video_presentation" width="480" height="250" src="https://www.youtube.com/embed/2k9zJBIr61E" frameborder="0" allowfullscreen></iframe>
      <%end%>
      <%if contest_fase == 2 %>
      <!-- videotutorial -->
        <iframe class="video_presentation" width="480" height="250" src="https://www.youtube.com/embed/QRlKdO3sDbA" frameborder="0" allowfullscreen></iframe>
      <%end%>    
    </div>
    <div class="text_block">
      <h2>Una oportunidad de convertirte en un referente en nuevas tecnologías para tus alumnos</h2>
      <p class="p_block">
        Inscríbete con tu clase y descubre todos los materiales formativos que te ofrecemos para que puedas apoyar a tus alumnos en sus necesidades educativas.
      </p>
      <button class="btn btn-primary">Descarga las bases</button>
    </div>
  </div>
</article>
