<article class="contest_block">
  <h1>COMPARTE TUS RECURSOS</h1>
  <div class="horizontal_line"></div>

  <div class="content_block">
    <p class="p_block">Comparte tu recurso en las redes sociales o por correo y conviértelo en el más votado del Concurso.</p>
    <div class="items">
        <% begin
          educaconsejos = [Link.find(293), Document.find(9229), Document.find(9218), Document.find(9228)]
        rescue ActiveRecord::RecordNotFound => e
          educaconsejos = Document.all.sample(4)
        end %>
        <% educaconsejos.each do |doc| %>
          <%= render partial: 'repositories/resource', locals: { resource: doc} %>
        <% end %>
      <div class="clear"></div>
    </div>
  </div>
</article>

<!-- falta poner un bt para copiar el link en cada uno de los recursos que se carguen-->
