

<article class="contest_block">
  <h1>GALERÍA DE RECURSOS PRESENTADOS</h1>
  <div class="horizontal_line"></div>
  <%types = VishConfig.getAvailableResourceModels%>
  <%if ActivityObject.authored_by(current_user).where(:object_type => types).length > 0 %>
      <div class="no_resources">

        <h3>Aquí puedes participar en el concurso</h3>
        <div id="submitted_aos_<%=@contest.id.to_s%>" style="display:inline-block; width: 100%">
      	  <ul class="items">
            <%= render partial: 'contests/templates/educa2016/submissions/form', locals: { contest_category: @contest.categories.first } %>
            <div class="clear"></div>
      	  </ul>
        </div>
        <h3>Tu participación</h3>
        <%= render partial: 'contests/submissions_user', locals: { contest: @contest} %>

      </div>
  <%else%>
    <div class="no_resources">
      <p>Ahora mismo cuentas con <b>0 recursos</b> creados</p>
      <p>¿Te animas con el primero?<br>Te animamos a ver nuestros <b>videotutoriales</b></p>
      <p>Si ta conoces el funcionamientopuedes<br><b>acceder directamente a tu perfil</b></p>
    </div>
  <%end%>
</article>
