<%content_for :title do%> Concurso EducaInternet 2017<%end%>
<%content_for :description do%>Una oportunidad de convertirte en un referente en nuevas tecnologías para tus alumnos. Inscríbete con tu clase y descubre todos los materiales formativos que te ofrecemos para que puedas apoyar a tus alumnos en sus necesidades educativas.<%end%>

<%= render partial: 'contests/templates/'+@contest.name+'/main_title' , :locals => { :submissions => true }%>

<%= render partial: 'contests/submissions_all', locals: { contest: @contest} %>

<div id="fb-root"></div>
<script>(function(){
    if(document.getElementById('facebook-jssdk')){
      return;
    }
    var facebook_js = document.createElement('script');
    facebook_js.id = 'facebook-jssdk';
    facebook_js.src = ("//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + "<%=Vish::Application.config.APP_CONFIG['facebook']['appID']%>");
    var head = document.getElementsByTagName('head')[0];
    head.appendChild(facebook_js);
  }());
</script>
