footer
  padding: 20px 128px
  overflow: hidden

  section
    ul
      li, p
        margin: 1em 0
      p
        font-size: .9em
        line-height: 1.2em
      span
        color: rgba(0, 0, 0, .7)
        font-weight: 300

    .brand2
      a
        font-size: 1.2em
        color: $gray-darker-extra
      span
        font-weight: bold
