nav.navbar-fixed-top
  font-size: 0.9em
  padding: 6px 5%
  background-color: none
  background: rgba( 255, 255, 255, 0.98)
  border: 0
  @media (max-width: $screen-sm-max)
    padding: 9px 5%

  .container-fluid
    max-width: 2000px
    margin-left: auto
    margin-right: auto
    display: block
    width: auto

    .btn-navbar
      margin-top: 3px
      padding: 5px 10px
      display: none
      float: right
      @media (max-width: $screen-sm-max)
        display: block

    .brand
      height: auto
      font-size: 2em
      float: left
      .logo
        font-family: Helvetica Neue, Helvetica, sans-serif !important
        font-weight: 200
        color: $orange-gray-75
        outline: none
        .logo_bold
          color: $orange-primary
          font-family: Helvetica Neue, Helvetica, sans-serif !important
          font-weight: 600
    .hidden-phone
      float: right
      @media (max-width: $screen-sm-max)
        display: none

      .navbar-right
        float: none
        li
          padding: 5px 7px
        a
          padding: 5px 0
          outline: none
          font-weight: 200
          .menu_bold
            font-weight: 800

        .active > a
          background-color: transparent
          box-shadow: none
          border-top: 3px solid $orange-primary
          margin-top: -3px
        .dropdown
          i
            margin-left: 5px

          .dropdown-menu
            padding: 10px !important
            border-radius: $border-radius-base
            //min-width: 285px
          .user-menu, .add-menu
            padding: 0 !important
            li
              padding: 0
              a
                padding: 8px
                &:hover, &:active,&:focus
                  background-color: $black !important
          .dropdown-menu:before, .dropdown-menu:after
            display: none
          form
            margin: 0
            min-width: 285px
            .checkbox
              display: block
              width: 0
              color: white
            input[type="email"]
              margin-bottom: 5px
            input[type=checkbox]
              opacity: 1
            a
              color: gray
              font-size: 0.9em
              &:hover
                color: white
            .btn
              margin-top: 15px
        .dropdown.open > .dropdown-toggle,
        .dropdown.active > .dropdown-toggle,
        .dropdown.open.active > .dropdown-toggle
          background: transparent !important

        .photo_user
          padding: 0px
          height: 30px
          width: 30px
          outline: none
          float: left
          margin-left: 5px
          margin-top: 5px
          img
            border-radius: $border-radius-base
            height: 30px
            width: 30px
            float: left
            border: 1px solid #EEEEEE
            &:hover
              border: 1px solid $orange-primary
          a
            padding: 0
        .user_name
          font-weight: 600

        .add_nav
          padding: 5px 0px
          .btn
            padding: 0px
            height: 30px
            margin-right: -1px
            margin-left: 3px
            background-color: $white
            background-image: none
            box-shadow: none
            border: 1px solid $orange-gray-45
            border-radius: 5px

            i
              display: block
              padding: 7px 8px
              color: $orange-gray-45
              text-decoration: none
              margin: 0
            &:hover
              text-decoration: none
              border-color: $orange-primary
              i
                color: $orange-primary
      //************************
      //input de quick search
      //************************
      .search-ui
        float: right
        padding: 2px 10px
        .quick-search
          .search-nav
            margin-left: -3px
            @media (max-width: $screen-xs-max)
              margin-left: 0
            .search_button_class
              margin: 0 0 0 3px
              float: left
            .mat
              z-index: 10
              display: none
              position: absolute
              top: 46px
              width: 265px
              background-color: rgba(85,85,85,0.97)
              @include border-bottom-radius ($border-radius-base)
              @media (max-width: 768px)
                width: 80.5%
                left: 15px
                top: 87px
              @media (max-width: 635px)
                width: 80%
              @media (max-width: 560px)
                width: 79.2%
              @media (max-width: 485px)
                width: 78%
              @media (max-width: 430px)
                width: 77%
              .spinner
                margin: 35px auto 0 !important
                display: none
              .query_too_short
                @include border-bottom-radius ($border-radius-base)
                color: $white
                text-align: center
                padding: 3px
                margin-top: 2px
              .no_results
                display: block
                @include border-bottom-radius ($border-radius-base)
                color: $white
                background-color: $brand-primary
                text-align: center
                padding: 3px
                margin-top: 2px

              .results
                max-height: 431px
                overflow: auto
                height: auto
                ul
                  width: 95%
                  padding-left: 0
                  float: none
                  @include border-bottom-radius ($border-radius-base)
                  @include center-block
                  @include items
                  .add-item
                    display: none
                  li
                    @include excursion-small
                    margin: 3px 7px
                    width: 95%
                    border: none
                    max-height: 43px
                    .container-img
                      width: 27% !important
                      .avatar img
                        margin-top: -7px
                      .img-box
                        i
                          font-size: 35px
                          padding-top: 4px
                    .caption
                      padding-top: 2px
                      width: 73%
                      h6
                        height: 20px
                      h6, .count-followers
                        text-align: left
                    .corner-item, .add, .info-bottom, hr
                      display: none
                  li, .container-img, .caption
                    max-height: 43px

                  .more
                    display: block
                    clear: both
                    text-align: center
                    height: auto
                    margin: 7px 7px 10px
                    padding: 5px
                    //padding-bottom: 3px
                    //padding-top: 2px
                    a
                      color: $gray-darker
                      font-family: $corporate-font-family-sans-serif-Medium
                      text-decoration: none
                    &:hover
                      background: $gray-darker-extra
                      a
                        color: $white
                        &:hover
                          background-color: $gray-darker-extra !important
                  .img-box
                    padding-bottom: 0
        .search-query
          width: 180px !important
          float: left
          font-size: 1em



    //****************************************************
    //menu for small screens (phones&tablets) up to 991px
    //****************************************************
    .hidden-desktop
      .navbar-nav
        margin: 40px 0 5px 0
        float: none
        background-color: white
        li
          float: none
          .dropdown-menu
            padding: 10px
            margin: 0 0 0 18px
            border-radius: $border-radius-base
            .form-group
              margin-left: 0 !important
              margin-right: 0 !important
            //log in
            input[type="email"]
              margin-bottom: 3px
            .checkbox
              padding: 0 5px
              .lbl
                color: white
            .remember_password
              margin: 10px 0 0 0
              a
                color: black
            //languages
            li > a
              padding: 5px
              color: white
              img
                margin-right: 5px
        .user
          margin: 0
          a
            line-height: 2.5
            font-weight: 600
            img
              border-radius: $border-radius-base
              border: 1px solid $orange-gray-45
              height: 30px
              margin-right: 3px
        hr
          margin: 0
        .open > a
          background-color: white !important
        .navbar-search
          width: 55%
          margin-bottom: 5px
          input
            float: left
            width: 80%
          button
            float:left
            margin-left: 3px
            padding: 7px 6px 6px
    //****************************************************



#warning_cookie_bar
  display: none
  text-align: center
  color: $white
  background-color: rgba(0, 0, 0, 0.7)
  height: auto
  width: 100%
  z-index: 999
  position: fixed
  top: 50px
  h3
    display: block
    margin: 0
  p
    border-radius: 0 0 10px 10px
    color: $white
    margin: 0 auto
    font-family: $corporate-font-family-sans-serif-Bold
    width: 80%
    a
      color: $white
      font-family: $corporate-font-family-sans-serif-Bold
