
nav.navbar-home
  background-color: transparent !important
  position: fixed

nav.navbar-fixed-top
  background-color: $white
  height: 7vh
  font-size: 0.8em
  padding: 4px 16px
  border: 0
  @media (max-width: $screen-sm-max)
    padding: 8px 4px
  .container-fluid
    .btn-navbar
      margin-top: 4px
      padding: 4px 8px
      display: none
      float: right
      @media (max-width: $screen-sm-max)
        display: block
    .brand
      font-size: 2em
      float: left
      a
        color: $gray-darker-extra
      .logo
        font-weight: 200
        outline: none
        .logo_bold
          font-weight: 600

    .hidden-phone
      @media (max-width: $screen-sm-max)
        display: none
      .navbar-nav
        .btn-primary a
          color: white
        .btn-secondary a
          color: $gray-dark
        .dropdown
          .dropdown-menu
            padding: 10px !important
            border-radius: $border-radius-base
          .user-menu, .add-menu
            padding: 0 !important
            li
              padding: 0
              a
                padding: 8px
                &:hover, &:active,&:focus
                  background-color: $gray-darker !important
                  color: white
              .notification
                color: $brand-primary

          .dropdown-menu:before, .dropdown-menu:after
            display: none
          form
            margin: 0
            min-width: 285px
            .checkbox
              display: block
              width: 0
              color: white
            input[type="email"]
              margin-bottom: 5px
            input[type=checkbox]
              opacity: 1
            a
              color: gray
              font-size: 0.9em
              float: left
              &:hover
                color: white
            .btn
              margin-top: 15px
        .dropdown.open > .dropdown-toggle,
        .dropdown.active > .dropdown-toggle,
        .dropdown.open.active > .dropdown-toggle
          background: transparent !important

      //************************
      //input de quick search
      //************************
      .search-ui
        float: right
        .search-query
          font-size: 1.1em
        .quick-search, .mat
          width: 256px
          margin-right: 5px
          .search-nav
            input[type="text"]
              height: 36px
            .search_button_class
              background: transparent
              color: #000
              border: none
              position: relative
              left: 224px
              bottom: 36px
            .mat
              z-index: 10
              display: none
              position: absolute
              top: 46px
              background-color: rgba(88,88,88,0.96)
              @include border-bottom-radius ($border-radius-base)
              @media (max-width: 768px)
                width: 80.5%
                left: 15px
                top: 87px
              @media (max-width: 635px)
                width: 80%
              @media (max-width: 560px)
                width: 79.2%
              @media (max-width: 485px)
                width: 78%
              @media (max-width: 430px)
                width: 77%
              .spinner
                margin: 35px auto 0 !important
                display: none
              .query_too_short
                @include border-bottom-radius ($border-radius-base)
                color: $white
                text-align: center
                padding: 3px
                margin-top: 2px
              .no_results
                display: block
                @include border-bottom-radius ($border-radius-base)
                color: $white
                background-color: $brand-primary
                text-align: center
                padding: 3px
                margin-top: 2px

              .results
                max-height: 431px
                height: auto
                ul
                  width: 95%
                  padding-left: 0
                  float: none
                  @include border-bottom-radius ($border-radius-base)
                  @include center-block
                  @include items
                  .add-item
                    display: none
                  li.box-item
                    @include excursion-small
                    margin: 3px 7px
                    width: 95%
                    border: none
                    max-height: 43px
                    .container-img
                      width: 27% !important
                      .avatar img
                        margin-top: -7px
                      .img-box
                        i
                          font-size: 35px
                          padding-top: 4px
                    .caption
                      padding-top: 2px
                      width: 73%
                      h6
                        height: 20px
                      h6, .count-followers
                        text-align: left
                    .corner-item, .add, .info-bottom, hr
                      display: none
                  li, .container-img, .caption
                    max-height: 43px

                  .more
                    display: block
                    clear: both
                    text-align: center
                    height: auto
                    margin: 7px 7px 10px
                    padding: 5px
                    a
                      color: $gray-darker
                      font-family: $corporate-font-family-sans-serif-Medium
                      text-decoration: none
                    &:hover
                      background: $gray-darker-extra
                      a
                        color: $white
                        &:hover
                          background-color: $gray-darker-extra !important
                  .img-box
                    padding-bottom: 0




    //****************************************************
    //menu for small screens (phones&tablets) up to 991px
    //****************************************************
    .hidden-desktop
      position: absolute
      right: 24px
      top: 50px
      .navbar-nav
        background-color: $gray-darker
        padding: 10px
        li.sign_in_mobile
          .dropdown-toggle
            color: $gray-dark
            background: $gray-light
            &:hover, &:active, &:focus
              background-color: darken($gray-light, 0.5) !important
          a
            color: white
          i
            margin-right: 10px
          .dropdown-menu
            padding: 10px
            border-radius: $border-radius-base
            @include transition (all 0.2s ease 0s)
            .form-group
              margin-left: 0 !important
              margin-right: 0 !important
            //log in
            input[type="email"]
              margin-bottom: 3px
            .checkbox
              padding: 0 5px
              .lbl
                color: white
            .remember_password
              margin: 10px 0 0 0
              a
                color: $gray-light
                font-size: 1em
            .btn_ok
              width: 100%
            //languages
            li > a
              img
                margin-right: 4px
        .user
          margin: 0
          a
            line-height: 2.5
            font-weight: 600
            img
              border-radius: $border-radius-base
              border: 1px solid $orange-gray-45
              height: 30px
              margin-right: 3px
        hr
          margin: 0
        .navbar-search
          width: 100%
          margin-bottom: 5px
          padding: 10px 0
          input
            float: left
            width: 84%
          button
            float: left
            margin-left: 3px
            padding: 6px 10px 7px
            i
              margin: 0

//****************************************************

#warning_cookie_bar
  display: none
  width: 100%
  margin: 0px
  text-align: center
  color: $white
  background: rgba(0, 0, 0, 0.8)
  height: auto
  z-index: 1010
  position: fixed
  bottom: 0
  padding: 20px

  p
    border-radius: 0 0 10px 10px
    color: $white
    margin: 0 auto
    font-family: $corporate-font-family-sans-serif-Medium
    width: 80%
  a
    color: $gray
    font-family: $corporate-font-family-sans-serif-Bold
    border: 1px solid $gray
    margin: 20px 0 0 0
    &:hover
      color: $white
      border: 1px solid $white
  h3
    margin-top: 0

//****************************************************

.photo_user
  a
    padding: 0 4px !important
    img
      width: 36px
      height: 36px
