
.container-editor
  padding-top: 15px

.container-content
  width: 100%
  margin: 0 auto
  @media (max-width: $screen-xs)
    padding: 0
  .library_page,
  .user_page,
  .registration_page,
  .new_session_page,
  .settings_page,
  .layout_show
    padding-top: 80px
  .workshop_show,
  .workshop-edit
    padding-top: 130px

.general_toolbar
  position: absolute
  top: 65px
  width: 100%
  z-index: 1000
  @media (max-width: $screen-xs)
    top: 55px

a.btn.btn_delete_item
  position: absolute
  top: 0
  right: 0
  background: #F5F5F5
  color: $text-color
  @include border-top-left-radius(0)
  @include border-top-right-radius(3px)
  @include border-bottom-right-radius(0)
  @include border-bottom-left-radius(3px)
  &:hover, &:focus, &:active
    padding: 6px !important
    color: $brand-danger
  @media (max-width: $screen-xs-max)
    bottom: 26px
    padding: 1px 9px
    font-size: 12px
    top: auto
    @include border-top-left-radius(3px)
    @include border-top-right-radius(3px)
    @include border-bottom-left-radius(0px)
    &:hover
      padding: 1px 9px


.train_title
  margin: 0 10px 20px

.avatar
  img
    @include border-top-radius ($border-radius-base)
    @include border-bottom-radius ($border-radius-base)

.viewsAndCount
  @include creator

.tab-content
  label
    margin-top: 10px

.new-comments-box
  form#new_comment
    height: 77px !important
    margin-top: 10px !important


div.icontitle
  border-bottom: 1px solid $border-color
  margin-top: 40px
  margin-bottom: 10px
  padding-bottom: 4px
  button
    padding: 3px

.input-group-addon
  #btn_copy_share,
  #btn_copy_embed
    background-color: rgba(0, 0, 0, 0)
    border: none


.left-info
  .add
    form
      input
        min-height: 19px !important
      .follow-button
        padding: 1px 0

.registration,
.forgot,
.confirmation,
#sign_in
  @include devise-box
  color: $gray-dark
  .required_fields
    font-size: 0.9em
    color: $orange_primary
  h1
    margin: 0 0 10px
    font-weight: 300
  label
    padding: 10px 0px 5px !important
    font-weight: 400
  p
    color: $gray
    font-weight: 300

  ul.tag-list
    margin-left: 0
  .conditions
    font-size: 0.9em
    label
      color: $gray !important



//#sign_in
  padding-bottom: 0px !important
  @include log
  a,label
    color: inherit
    margin-bottom: 5px !important
  .checkbox
    margin-top: 20px
    span
      color: $gray-dark



.cke_skin_BootstrapCK-Skin
  .cke_contents
    height: auto !important

.contenthelpresourceidul
  padding: 0px 0px 0px 10px
  margin-top: -6px
  li
    margin-bottom: 2px

.cursor_waiting,
.cursor_waiting[disabled]
  cursor: wait !important
