
.container-editor
  padding-top: 15px
.container-content
  width: 100%
  margin: 0 auto
  @media (max-width: $screen-xs)
    padding: 0
  .library_page,
  .user_page,
  .registration_page,
  .new_session_page,
  .settings_page,
  .new_course_page,
  .new_workshop_page,
  .admin-page,
  .policys_page,
  .favorites_page,
  .layout_show
    padding: 30px 30px 20px !important
    .already_registered
      float: right
      color: gray
      &:hover
        color: $brand-primary !important
  .categories_page
    padding: 10px 30px 20px !important
  .workshop_show,
  .workshop-edit
    padding-top: 120px !important

.general_toolbar
  position: absolute
  // top: 55px
  width: 100%
  z-index: 1000
  @media (max-width: $screen-xs)
    top: 55px

a.btn.btn_delete_item
  position: absolute
  top: 0
  right: 0
  background: #F5F5F5
  color: $text-color
  &:hover, &:focus, &:active
    padding: 6px !important
    color: $brand-danger


.train_title
  margin: 0 10px 20px

.avatar
  img
    @include border-top-radius ($border-radius-base)
    @include border-bottom-radius ($border-radius-base)

.viewsAndCount
  @include creator

.tab-content
  label
    margin-top: 10px

.new-comments-box
  form#new_comment
    height: 77px !important
    margin-top: 10px !important


div.icontitle
   
  margin-top: 40px
  margin-bottom: 10px
  padding-bottom: 4px
  button
    padding: 3px

.input-group-addon
  #btn_copy_share,
  #btn_copy_embed
    background-color: rgba(0, 0, 0, 0)
    border: none


.left-info
  .add
    form
      input
        min-height: 19px !important
      .follow-button
        padding: 1px 0
.box-shadowed
  @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
.forgot
  margin-top: 80px
.registration,
.forgot,
.confirmation,
#sign_in
  @include devise-box
  color: $gray-dark
  .required_fields
    color: $orange_primary
  h1
    margin: 0 0 10px
    font-weight: 300
    float: left
  label
    padding: 10px 0px 5px !important
    font-weight: 400
    font-family: $corporate-font-family-sans-serif-Extrabold

  p
    color: $black
    font-weight: 300
    margin: 0
  ul.tag-list
    margin-left: 0
  .conditions
    font-size: 0.9em
    label
      color: $black !important

.cke_skin_BootstrapCK-Skin
  .cke_contents
    height: auto !important

.contenthelpresourceidul
  padding: 0px 0px 0px 10px
  margin-top: -6px
  li
    margin-bottom: 2px

.cursor_waiting,
.cursor_waiting[disabled]
  cursor: wait !important
