.btn
  @include btn

.btn-primary
  @include btn-primary-orange
.btn-secondary
  @include btn-secondary-orange
.btn-default
  @include btn-default-orange
.btn-contest
  @include btn-contest-orange


.btn-xs
  padding: 3px 8px 4px !important
  margin-top: 4px
.btn-icon
  padding: 2px 8px !important
  color: $orange-gray-75
  &:hover
    color: $brand-primary

.btn-mooc
  background: rgba(black, 0.4) !important
  border: 1px solid $white
  &:hover
    background: rgba(black, 0.8) !important
  a
    color: white !important
    &:hover
      color: $brand-primary !important

.btn-home
  border: 1px solid $white
  color: white
  .fa-plus, .linker
    color: $white !important

.btn-home-icon
  background: transparent !important
  .user_name, .fa-question-circle
    color: $white !important
    &:hover, &:focus, &:active
      color: $brand-primary !important

.btn-file
  position: relative
  overflow: hidden
  border-right: none
  &:hover
    border-right: none
  input[type=file]
    position: absolute
    top: 0
    right: 0
    min-width: 100%
    min-height: 100%
    font-size: 100px
    text-align: right
    filter: alpha(opacity=0)
    opacity: 0
    outline: none
    background: white
    cursor: inherit
    display: block

.btn-js
  cursor: pointer
  font-size: 16px
  font-weight: 400
  line-height: 40px
  margin: 24px
  max-width: 160px
  position: relative
  vertical-align: middle
  width: 100%
  &:hover
    text-decoration: none
  @media(min-width: 400px)
    display: inline-block
    &:nth-of-type(even)
      margin-right: 0
  @media(min-width: 600px)
    &:nth-of-type(even)
      margin-right: 2.5em
    &:nth-of-type(5)
      margin-right: 0

.btn-anim
  background: rgba(250, 250, 250, 0.8)
  color: #000
  svg
    width: 100%
    height: 40px
    position: absolute
    left: 0
    top: 0
  rect
    fill: none
    stroke: #fff
    stroke-width: 2
    stroke-dasharray: 422, 0
  @media (max-width: 767px)
    display: none

.btn-anim:hover, .btn-anim:focus, .btn-anim:active
  background: #fff
  color: #000
  font-weight: 900
  letter-spacing: 1px
  rect
    stroke-width: 5
    stroke-dasharray: 15, 310
    stroke-dashoffset: 48
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)

//Other kind of buttons
.btn-add
  width: 32px

.user_name
  font-weight: 600
  a
    background: transparent
    color: $gray-dark
    &:hover
      color: $orange-primary
    .caret
      margin-left: 4px

.wall_input .input-group-addon .new_document,
.timeline .more a
  color: $white

.label, .badge
  text-shadow: 0 1px 0 transparent
  font-weight: normal
  padding: 3px 6px

//Dropdowns
.btn-group.open .dropdown-toggle
  box-shadow: none

.open .btn-default.dropdown-toggle
  background-color: rgba(84, 84, 84, 0.96) !important

.btn-group.open .btn-secundary.dropdown-toggle
  background-color: darken($btn-secundary-bg, 10%)

.btn-group.open .btn-primary.dropdown-toggle
  background-color: darken($brand-primary, 8%)

.open .btn-default.dropdown-toggle,
.open div.new_comment form#new_comment input.dropdown-toggle[type="submit"],
div.new_comment form#new_comment .open input.dropdown-toggle[type="submit"]
  border: 1px solid rgba(0, 0, 0, 0)
