.create_account
  background: #e4e4e4
  padding: 32px
  text-align: center
  h2
    margin-bottom: 16px
  .account_buttons
    text-align: center
    button
      margin: 8px
      display: inline-block
      min-width: 100px !important

@media (max-width: 480px)
  .create_account
    .account_buttons
      button
        margin: 16px auto 0
        display: block
