<ul class="items contributions_WS_gallery">
	<% if contributions.length > 0 %>
		<% contributions.each do |contribution| %>
			<%= render :partial=> "entities/entity", :locals => { :entity => contribution, :prefix_id =>"contribution" } %>
		<% end %>
	<% else %>
		<div class="no_content"><%= t('workshop.activities.contributions_gallery.no_content') %></div>
	<% end %>
</ul>
