//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1200px)
  .ilustration
    .carousel-inner
      //height: 350px
      .item
        img
          top: -100px
        .carousel-caption
          height: 250px
          .row-fluid
            .text-car
              margin-left: 5%
