<%content_for :banner do%>
  <div class="main-box">
    <img src="assets/orange/acerca_de.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('orange_front.about_title')%></h1>
        <h2><%= t('orange_front.about_subtitle')%></h2>
      </div>
      <button href="/search" class="btn btn-secondary btn-main-title">
       <%= t('orange_front.carousel.title2')%>
     </button>
    </div>
  </div>
<%end%>

<section class="articles">
  <article>
    <div class="why">
      <h4>UN PORQUÉ</h4>
        <h3>La necesidad de EducaInternet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper malesuada pharetra. Suspendisse quis aliquet metus. Vivamus viverra metus blandit sapien condimentum mollis. Aliquam ornare orci rhoncus mi pretium, in condimentum erat consectetur. Sed placerat velit sit amet auctor vestibulum.</p>
    </div>
  </article>

  <div class="horizontal_line"></div>

  <article>
    <div class="values">
      <h4>LOS VALORES</h4>
        <div class="text_block float_L">
          <img src="assets/orange/logo_orange.png" class="">
          <h3>Un compromiso con la seguridad en Internet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper malesuada pharetra. Suspendisse quis aliquet metus. Vivamus viverra metus blandit sapien condimentum mollis. Aliquam ornare orci rhoncus mi pretium, in condimentum erat consectetur. Sed placerat velit sit amet auctor vestibulum.</p>
        </div>
        <div class="img_block float_L">
          <img src="assets/orange/ilustracion-5.png" alt="cover_image">
        </div>
    </div>
    <div class="sub_values">
      <div>
        <h5>AÑO DE CREACIÓN</h5>
        <span>2015</span>
      </div>
      <div>
        <h5>RECURSOS</h5>
        <span>100.000</span>
      </div>
      <div>
        <h5>MIEMBROS</h5>
        <span>1.500</span>
      </div>
    </div>
  </article>

  <article>
    <div class="great_team">
      <h4>UN GRAN EQUIPO DE PROFESIONALES</h4>
        <h3>Una iniciativa avalada por los principales representantes y experos en Ciberseguridad. Ayúdanos a hacer de Internet un lugar seguro.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper malesuada pharetra. Suspendisse quis aliquet metus. Vivamus viverra metus blandit sapien condimentum mollis. Aliquam ornare orci rhoncus mi pretium, in condimentum erat consectetur. Sed placerat velit sit amet auctor vestibulum.</p>
        <div class="great_team_imgs">
          <div>
            <div class="great_team_img">
              <img src="assets/orange/macmillan_edu_logo-02.png">
            </div>
          </div>
          <div>
            <div class="great_team_img">
              <img src="assets/orange/red.es_logo-06.png">
            </div>
          </div>
          <div>
            <div class="great_team_img">
              <img src="assets/orange/incibe_logo-01.png">
            </div>
          </div>
          <div>
            <div class="great_team_img">
              <img src="assets/orange/mecd_logo-03.png">
            </div>
          </div>
          <div>
            <div class="great_team_img">
              <img src="assets/orange/osi_logo-04.png">
            </div>
          </div>
          <div>
            <div class="great_team_img">
              <img src="assets/orange/ging_logo-05.png">
            </div>
          </div>
        </div>
    </div>
  </article>

    <%= render :partial => "shared/create_account" %>
</section>
