<section id="contributors">
  <div class="whiteframe">
    <legend><%=t('orange_front.footer.contributors')%></legend>

    <div class="row logos">
      <div class="col-md-3">
        <a href="http://www.orange.es/" target="_new"><img src="/assets/static/contributors/logo_orange.jpg"></a>
        <div class="description"></div>
      </div>

      <div class="col-md-3">
        <a href="http://www.madrid.org/cs/Satellite?pagename=ComunidadMadrid/Home" target="_new"><img src="/assets/static/contributors/logo_cmadrid.jpg"></a>
        <div class="description"></div>
      </div>

      <div class="col-md-3">
        <a href="http://www.red.es/redes/" target="_new"><img src="/assets/static/contributors/logo_redes.jpg"></a>
        <div class="description">
         Red.es es una entidad pública que trabaja para que la sociedad española aproveche al máximo el potencial de Internet y las nuevas tecnologías.
        </div>
      </div>

      <div class="col-md-3">
        <a href="http://vishub.org/" target="_new"><img src="/assets/static/contributors/logo_vish.jpg"></a>
        <div class="description">
          ViSH es una red social colaborativa centrada en la creación y compartición de recursos educativos para la realización de actividades didácticas
        </div>
      </div>
    </div>
  </div>

</section>
