<%content_for :title do%>Quinto EducaConsejo<%end%>
<%content_for :description do%>David Calle nos explica que las redes sociales tienen memoria y debemos tener cuidado con lo que publicamos. Debemos pensar bien lo que publicamos y no publicar contenidos a la ligera.<%end%>
<%content_for :og_image do%>http://educainternet.es/assets/orange/contest17_fifth_tip.jpg<%end%>

<div id="playfilm_content_d534b4be-addb-45ab-8685-3d0b4c5bbad0" class="playfilm_content"></div><script src="https://playfilm.azureedge.net/media/published/d534b4be-addb-45ab-8685-3d0b4c5bbad0/playfilm_embed.js?autoplay=false&embed_type=0"></script>
