<%content_for :title do%>Cuarto EducaConsejo<%end%>
<%content_for :description do%>David Calle nos explica las cookies, condiciones legales y clausulas que aceptamos en los distintos servicios web.<%end%>
<%content_for :og_image do%>http://educainternet.es/assets/orange/contest17_third_tip.jpg<%end%>

<div id="playfilm_content_1d46cd42-1671-4026-9528-2213f1ce8365" class="playfilm_content"></div>
<script src="https://playfilm.azureedge.net/media/published/1d46cd42-1671-4026-9528-2213f1ce8365/playfilm_embed.js?autoplay=false&embed_type=1"></script>
