<%content_for :title do%>Sexto EducaConsejo<%end%>
<%content_for :description do%>David Calle nos explica las noticias falsas de Internet. No debemos creernos todo lo que vemos en la red. Hay que saber identificarlas.<%end%>
<%content_for :og_image do%>http://educainternet.es/assets/orange/contest17_sixth_tip.jpg<%end%>

<div id="playfilm_content_ec34097f-9969-4753-9b81-c83b0800c016" class="playfilm_content"></div><script src="https://playfilm.azureedge.net/media/published/ec34097f-9969-4753-9b81-c83b0800c016/playfilm_embed.js?autoplay=false&embed_type=0"></script>
