<%content_for :banner do%>
  <div class="main-box">
    <img src="assets/orange/explora.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('orange_front.explore')%></h1>
        <h2><%= t('orange_front.explore_msg')%></h2>
      </div>
      <button href="/search" class="btn btn-secondary btn-main-title">
       <%= t('orange_front.carousel.title2')%>
     </button>
    </div>
  </div>
<%end%>

<!--Articles-->
<section class="articles">

  <article>
    <div class="teach">
      <h4>SI ERES PROFESOR, ESTE ES TU SITIO</h4>
      <!--linea horizontal divisoria-->
      <div class="horizontal_line"></div>
      <!--/linea horizontal divisoria-->
          <div class="article_cont">
            <h3>Trabajamos junto a los grandes expertos en seguridad TIC, para que tengas disponibles los mejores recursos.</h3>
              <div class="article_img">
                <!--imagen-->
              </div>
            <h3>Con los recursos de <strong>McMillan</strong> tus alumnos y tú aprenderéis juntos cómo navegar seguro.</h3>
          </div>
    </div>

    <ul class="items">
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
    </ul>
    <ul class="items">
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
    </ul>
  </article>

  <article>
    <div class="teach">
          <div class="article_cont">
              <div class="article_img">
                <!--imagen-->
              </div>
            <h3>El <strong>Instituto Nacional de Ciberseguridad de España</strong><br>te ayuda con la mediación parental y las tecnoadicciones.</h3>
            <p>Lorem ipsum dolor sit amet, Quisque porta, erat sit amet dapibus molestie, dolor quam tempus lacus, sed aliquam arcu dolor in dolor. Pellentesque a nibh orci. Aenean in ligula quis eros suscipit auctor.</p>
          </div>
    </div>
    <ul class="items">
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
      <li class="box-item">
        <!--imagen-->
      </li>
    </ul>
  </article>

  <article>
    <div class="teach">
      <h4>BIBLIOTECA</h4>
      <!--linea horizontal divisoria-->
      <div class="horizontal_line"></div>
      <!--/linea horizontal divisoria-->
          <div class="article_cont">
            <h3>Esto no es todo. Pásate por la biblioteca de recursos. Puedes consultar todo el material de forma gratuita.</h3>
            <div class="article_img">
              <!--imagen-->
            </div>
          </div>
    </div>
  </article>

</section>
