<%content_for :title do%><%= t("site.meta_title.legal_notice") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.legal_notice")%><%end%>


<section id="legal_notice">
  <div class="whiteframe">
    <h3>Aviso legal</h3>
    <br/>

    <div class="margin-top5 text_content">
        El titular de la web <a href="http://educainternet.es">http://educainternet.es</a>  es Orange Espagne, S.A, sociedad unipersonal (en adelante Orange) con C.I.F. A-82009812, y con domicilio social y a efectos de notificaciones en Parque Empresarial La Finca, Paseo del Club Deportivo, número 1, Edificio 8, 28223 Pozuelo de Alarcón, Madrid, inscrita en el Registro Mercantil de Madrid
        <br/>
El acceso y uso de la red social EducaInternet es gratuito y requiere de la aceptación de las <a href="conditions_of_use">Condiciones Legales</a>, y en el caso de que hubiera algún concurso o actividad específica podría también tenerse que aceptar condiciones particulares al respecto.  Esta información legal se completa con la <a href="privacy_policy">Política de Protección de Datos</a> y la <a href="http://www.orange.es/static/html/cookies.html" target="_blank">Política de Cookies.</a><br/>
Para cualquier consulta o contacto con EducaInternet los usuarios podrán comunicarse a través de la dirección electrónica de contacto: contacto@educainternet.es
    </div>
<br/>
    <br/>

    </div>
</section>
