<div class="row container_mooc">
  <div class="col-md-4 mooc_image_main">
    <img src="assets/orange/2.jpg" alt="cover_image">
  </div>
  <div class="col-md-8 mooc_welcome_text">
    <h1>Apúntate al MOOC <br>Uso seguro y responsable de las TIC para el aula</h1>
    <h2>Objetivo</h2>
    <p>El objetivo de este curso es presentar los aspectos de mayor relevancia para el uso seguro y responsable de las TIC en el aula. Es un curso eminentemente práctico donde los participantes pondrán en práctica los contenidos tratados en los contenidos del curso.
      Los temas tratados, tales como la identidad digital, gestión de la privacidad en la Red, netiqueta, búsqueda, creación y utilización de información digital, licencias de publicación de contenidos, peligros, fraudes y virus que acechan en Internet y en las redes sociales o acceso móvil son muy recientes y están en evolución, por lo que el curso pretende también sentar las bases para que los docentes reflexionen con seriedad sobre ellos de cara a seguir su evolución en el futuro.</p>
    <h2>Duración y dedicación</h2>
    <p class="highlight">4 semanas / 5 horas por semana</p>
    <h2>Fechas</h2>
    <p>La inscripción del curso empieza el día de Internet Segura, <span class="highlight"> 9 de Febrero</span> y está abierta a todos los <span class="highlight">usuarios de EducaMadrid</span>.
    <br>El curso comienza el  <span class="highlight">23 de Febrero de 2016</span></p>
    <br>
    <%if current_user && (current_user.email.ends_with? "@educa.madrid.org")%>
      <a href="/users/edit?mooc=true"><div class="btn btn-default">Apuntarme al MOOC</div></a>
    <%elsif current_user%>
      Lo sentimos esta edición del MOOC está cerrada para profesores de la comunidad de Madrid. Si tienes un email @educa.madrid.org edita tu perfil y cámbialo para poder acceder.<br/>
    <%else%>
      <a href="/users/sign_up?mooc=true"><div class="btn btn-primary"><i class="fa fa-hand-o-up"></i>  Registrarme en el curso</div></a>      
    <%end%>
    <a href="/mooc_sheet" class="btn btn-default"><i class="fa fa-download"></i><%= t('mooc.download_sheet') %></a>
  </div>
</div>
