<%content_for :title do%><%= t("site.meta_title.privacy_policy") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.privacy_policy")%><%end%>

<section id="legal_notice">
  <div class="whiteframe">
    <h3>Política protección de datos </h3>
    <br/>

    <div class="margin-top5 text_content">
        ORANGE ESPAGNE, S.A.U. (en adelante, Orange) con domicilio social en Paseo del Club Deportivo 1, Parque Empresarial La Finca, Edificio 8, 28223 Pozuelo de Alarcón (Madrid), es titular del sitio web <a href="http://educainternet.es">www.educainternet.es</a> y responsable de los Ficheros que se generen como consecuencia de la entrega de datos de carácter personal a través de esta red social.
        <br/><br/>
		Los datos personales facilitados mediante el formulario de registro en la  través del sitio web, serán utilizados con la finalidad de habilitar y gestionar la participación en las actividades de la red social.
		<br/><br/>
		Podrás ejercer, en cualquier momento, los <strong>derechos de acceso, rectificación, cancelación y oposición de sus datos</strong> mediante solicitud escrita y firmada, incluyendo la  <strong>Ref.- Protección de Datos EducaInternet</strong>, acompañada de documento válido de Identidad, dirigido a Orange a la dirección indicada en el párrafo anterior.
		<br/><br/>
		El sitio web <a href="http://educainternet.es">www.educainternet.es</a> respeta la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (en adelante LOPD)  y demás legislación relativa a protección de datos personales que se encuentre en vigor en cada momento. De este modo, Orange asume expresamente la obligación de adoptar e implantar las medidas de seguridad de índole técnico y organizativo necesarias, correspondientes al nivel de seguridad de los datos que en su caso fueran entregados, para garantizar la seguridad e integridad de los mismos y evitar su alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con el estado de la tecnología, de la naturaleza de los datos almacenados y de los riesgos a que estén expuestos, ya provengan de la acción humana o del medio físico o natural.
    </div>

  </div>
</section>
