<div class="row">
      <div class="col-md-4">
      	<h2>Buscando en la biblioteca de recursos</h2>
      	<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut magna elit. Vestibulum id velit ac tellus lobortis aliquam. Donec eget rutrum neque, eget rhoncus est. Vestibulum id volutpat lacus. Aliquam porta mi aliquet, laoreet purus sed, interdum diam. Suspendisse vitae dapibus ipsum, eu ullamcorper eros. Nunc arcu ante, ullamcorper iaculis dictum aliquet, rutrum eu purus. Nulla luctus hendrerit arcu, ac sollicitudin urna ornare at.</div>
 	    <h3><a>Consultar ayuda</a></h3>
      	<h3><a>Ver tutorial</a></h3>
 	  </div>
 	  <div class="col-md-4">
      	<h2>Creando tus propios recursos</h2>
      	<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut magna elit. Vestibulum id velit ac tellus lobortis aliquam. Donec eget rutrum neque, eget rhoncus est. Vestibulum id volutpat lacus. Aliquam porta mi aliquet, laoreet purus sed, interdum diam. Suspendisse vitae dapibus ipsum, eu ullamcorper eros. Nunc arcu ante, ullamcorper iaculis dictum aliquet, rutrum eu purus. Nulla luctus hendrerit arcu, ac sollicitudin urna ornare at.
      	</div>
      	<h3><a>Subir documento</a></h3>
      	<h3><a>Crear presentación</a></h3>
      	<h3><a>Crear curso</a></h3>
 	  </div>
 	  <div class="col-md-4">
      	<h2>Con proyectos de clase colaborativos</h2>
 	  	<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut magna elit. Vestibulum id velit ac tellus lobortis aliquam. Donec eget rutrum neque, eget rhoncus est. Vestibulum id volutpat lacus. Aliquam porta mi aliquet, laoreet purus sed, interdum diam. Suspendisse vitae dapibus ipsum, eu ullamcorper eros. Nunc arcu ante, ullamcorper iaculis dictum aliquet, rutrum eu purus. Nulla luctus hendrerit arcu, ac sollicitudin urna ornare at.
      	</div>
      	<h3><a>Consultar ayuda</a></h3>
 	  </div>
 </div>