<% certified = certified_entities %>
	<% if !certified.blank? %> 
	<h3> <%= t("frontpage.title_certified")%> </h3>
	<ul class="items entities_front_certified">
		<% certified.each do |resource| %>
			<%= render :partial => 'entities/entity', :locals => { :entity => resource, :prefix_id => "frontpage2" } %>
		<% end %>
	</ul>
<% end %>

