<!-- banner concurso -->
<div id="banner" style="display:none">
  <div id="close_banner">x</div>
  <a href="/contest/educa2016">
    <div class="banner_concurso">
      <img src="<%= t('orange_front.banner_contest')%>">
    </div>
  </a>
</div>

<!-- fin banner -->

<div class="social_ntwoks">
  <a href="https://twitter.com/EducaInternet" target="_blank"><i class="fa fa-twitter fa-big"></i></a>
  <a href="https://www.facebook.com/EducaInternet-1883580955201114/" target="_blank"><i class="fa fa-facebook fa-big"></i></a>
</div>
<div class="box-title-home">
  <img src="assets/orange/2.jpg" alt="cover_image">
  <!--<div class="row main-title">
    <div class="col-xs-12 title"><h1><%= t('orange_front.message')%></h1></div>
    <a href="/overview" class="btn-js btn-anim">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
     <%= t('orange_front.how_it_works')%>
    </a>
    <a href="/search?type=User" class="btn-js btn-anim">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
     <%=t("orange_front.community")%>
    </a>
  </div>-->
</div>

<% content_for :javascript do %>
  $('#close_banner').click(function(){
    $("#banner").remove();
  });
  $("#banner").show("slide", { direction: "left", easing: "easeOutQuart" }, 1000);

<% end %>
