<div class="box-title-home">
  <img src="assets/orange/2.jpg" alt="Crea">
  <div class="row main-title">
    <div class="col-xs-12 title"><%= t('orange_front.message')%></div>
    <div class="btn btn-default btn-main-title btn-home"><a href="/overview"><%= t('orange_front.how_it_works')%></a></div>
  </div>
</div>
