<!-- banner concurso

<div id="banner" style="display:none">
  <div id="close_banner">x</div>
  <a href="/contest/educa2016/page/submissions">
    <div class="banner_concurso">
      <img src="<%= t('orange_front.banner_contest')%>">
    </div>
  </a>
</div>

fin banner -->

<div class="social_ntwoks">
  <a href="https://twitter.com/EducaInternet" target="_blank">
    <i class="fa fa-twitter fa-big"></i>
  </a>
  <a href="https://www.facebook.com/EducaInternet-1883580955201114/" target="_blank">
    <i class="fa fa-facebook fa-big"></i>
  </a>
  <a href="https://www.youtube.com/channel/UCH_RLT0J0CPBbOnibBO_mzg/" target="_blank">
    <i class="fa fa-youtube fa-big"></i>
  </a>
</div>

<div class="main-box">
  <img src="assets/orange/home.jpg" alt="cover_image">
  <!-- center sentence + buttons -->
  <div class="main-title">
    <div class="title">
      <h1><%= t('orange_front.message')%></h1>
      <h2><%= t('orange_front.message2')%></h2>
    </div>
    <a href="/overview" class="btn-js btn-anim">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
     <%= t('orange_front.carousel.title2')%>
    </a>
  </div>
</div>

<% content_for :javascript do %>
  $('#close_banner').click(function(){
    $("#banner").remove();
  });
  $("#banner").show("slide", { direction: "right", easing: "easeOutQuart" }, 1000);

<% end %>
