
<div class="main-box">
  <img src="assets/orange/home.jpg" alt="cover_image">
  <!-- center sentence + buttons -->
  <div class="main-title">
    <div class="title">
      <h1><%= t('home_page.title')%></h1>
      <h2><%= t('home_page.subtitle')%></h2>
    </div>
    <button class="btn btn-white btn-main-title" onclick="location.href='/explore';">
      <%= t('orange_front.carousel.title2')%>
   </button>
  </div>
</div>

<div class="entities">
  <%= render partial: 'frontpage/menu_blocks'%>
</div>

<% content_for :javascript do %>
  $('#close_banner').click(function(){
    $("#banner").remove();
  });
  $("#banner").show("slide", { direction: "right", easing: "easeOutQuart" }, 1000);
<% end %>
