<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/orange/3.jpg" alt="Crea">
      <div class="carousel-caption">
        <div class="container-fluid carousel-text">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-12 title-car"><%= t('orange_front.message')%></div>
            <div class="btn btn-default btn-header"><a href="/overview"><%= t('orange_front.how_it_works')%></a></li>
          </div>
        </div>
      </div>
    </div>

</div>-->

  <img src="assets/orange/3.jpg" alt="Crea">
  <div class="row main-title">
    <div class="col-xs-12 title"><%= t('orange_front.message')%></div>
    <div class="btn btn-default btn-main-title"><a href="/overview"><%= t('orange_front.how_it_works')%></a></div>
  </div>
