<%content_for :banner do%>
  <%= render :partial => "frontpage/explanation" %>
<%end%>


<section id="frontpage">
  <div class="entities">
  	<%= render partial: 'frontpage/entities_certified' %>
  </div>
  <div class="clear"></div>
  <div class="entities">
    <%= render partial: 'frontpage/entities' %>
  </div>
</section>
