<div class="ilustration">
  <%= render :partial => "frontpage/explanation" %>
</div>

<section id="frontpage">
  <div class="entities">
  	<%= render partial: 'frontpage/entities_certified' %>
  </div>
  <div class="clear"></div>
  <div class="entities">
    <%= render partial: 'frontpage/entities' %>
  </div>
</section>
