<div class="container-fluid front_blocks">
  <div class="row">
    <div class="col-md-4 block">
      <div class="img_block">
        <img src="assets/orange/resources.jpg">
        <div class="title_block">FÓRMATE</div>
        <a href="/learn" class="btn btn-primary bt_block">Nuestos cursos</a>
        <div class="text_block">Accede a todos los recursos de la plataforma</div>
      </div>
    </div>
    <div class="col-md-4 block">
      <div class="img_block">
        <img src="assets/orange/resources.jpg">
        <div class="title_block">COMPARTE</div>
        <a href="/teach" class="btn btn-primary bt_block">Unidades didácticas</a>
        <div class="text_block">Te ofrecemos herramientas gratuitas para que puedas crear un curso, una unidad didáctica o subir recursos a la plataforma</div>
      </div>
    </div>
    <div class="col-md-4 block">
      <div class="img_block">
        <img src="assets/orange/resources.jpg">
        <div class="title_block">CONCURSO</div>
        <a href="/contest/educa2016" class="btn btn-primary bt_block">Participa</a>
        <div class="text_block">¡Lánzate al Primer Concurso EducaInternet!</div>
      </div>
    </div>
  </div>
</div>
