<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 block">
      <div class="img">FÓRMATE</div><div class="text">lorem ipsum</div>
    </div>
    <div class="col-md-4 block">
      <div class="img">ENSEÑA</div><div class="text">lorem ipsum</div>
    </div>
    <div class="col-md-4 block">
      <div class="img">CONCURSO</div><div class="text">lorem ipsum</div>
    </div>
  </div>
</div>
