<section id="frontpage">
  <div class="entities">
  	<%= render partial: 'frontpage/entities_certified' %>
  </div>
  <div class="clear"></div>
  <div class="entities">
    <%= render partial: 'frontpage/entities' %>
  </div>
</section>

<%= content_for :javascript do %>


  $(function(){
      $('.carousel').carousel({
        interval: 8000
      });
  });
<%end%>
