//FORM BASE

#document-edit,
.AddResource,
#AddCategoryHeader
  @include base-form

//COLOR WHITE FOR FORM 2 COLUMNS ON NEW PAGE
.layout_form_WS,
#AddWriting,
.new_document
  @include white-background-form
  margin-bottom: 15px !important
  #new_file_only_document_file
    line-height: 0

//FORM 2 COLUMNS
.layout_form_WS,
#AddWriting,
#new_document
  @include two-columns-form
  margin-bottom: 10px !important
//CKEDITOR STYLE

#AddWriting,
#document-edit,
#AddContribution
  span.cke_skin_BootstrapCK-Skin
    width: 98%
    padding: 1%
    background-color: $grayLight
