<% competition_items = ActivityObject.where("competition = true") %>

<% content_for :banner do %>
  <%=render :partial => "search/main_title", :locals => { :main_title_body => t('competition.menu.joined') }%>
<%end%>
<div id="joined_resources_all" class="row">
	<ul class="items">
		<% if current_subject != nil && current_subject.actor.joined_competition != true %>
			<%= render :partial => 'competition/item_add_proposal' %>
		<% end %>
		<% competition_items.each do |r| %>
		  <% unless r.nil?%>
			  <%= render :partial => 'entities/entity', :locals => { :entity => r, :prefix_id=> "competition", :rec => (defined?(rec) ? rec : false)  } %>
			<% end %>
		<% end %>
	</ul>
</div>
