@mixin animation ($duration, $delay, $animation)
  -webkit-animation: ($duration, $delay, $animation)
  -moz-animation: ($duration, $delay, $animation)
  -o-animation: ($duration, $delay, $animation)

@mixin transitioncolor ($kind, $duration, $mode)
  -webkit-transition: ($kind, $duration, $mode)
  -moz-transition: ($kind, $duration, $mode)
  -ms-transition: ($kind, $duration, $mode)
  -o-transition: ($kind, $duration, $mode)
  transition: ($kind, $duration, $mode)

@mixin gradientcolor
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
  background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7))

@mixin grayscale
  filter: gray
  -webkit-filter: grayscale(1)
  filter: grayscale(1)

  &:hover
    filter: none
    -webkit-filter: grayscale(0)
    filter: grayscale(0)

@mixin scale1
  transform: scale(1.05)
  -ms-transform: scale(1.05)
  -webkit-transform: scale(1.05)

@mixin box-shadow($value) 
  -webkit-box-shadow: $value
  -moz-box-shadow: $value
  box-shadow: $value


@mixin opacity($value)
  $IEValue: $value*100
  opacity: $value
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")"
  filter: alpha(opacity=$IEValue)
