$orange: #ff7900
$highlight_yellow: #FFCC00
$orange_light: #F16E00
$gris: #EEEEEE 
$gris_oscuro: #8f8f8f
$success: #28a745
$info: #17a2b8
$warning: #FBD233
$danger: #dc3545
$redorange: #ff5349 
$contrast-border: #ccc 
$purple: #A885D8
$blue: #4BB4E6

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$black:                  #000000
$gray-darker-extra:      #333333
$gray-darker:            #353535
$gray-dark:              #5E5E5E
$gray:                   #9B9B9B
$gray-light:             #C7C7C7
$gray-lighter:           #E7E7E7
$gray-lighter-extra:     #EDEDED
$white:                  #FFFFFF

/*Black opacity*/
$opacity8:  rgba(0, 0, 0, 0.8)
$opacity4:  rgba(0, 0, 0, 0.4)
$opacity2:  rgba(0, 0, 0, 0.2)

/*White opacity*/
$w_opacity8: rgba(250, 250, 250, 0.8)
$w_opacity4: rgba(250, 250, 250, 0.4)
$w_opacity2: rgba(250, 250, 250, 0.2)


//Orange colors
// -------------------------
$orange-primary:        rgb(255, 121, 0) 
$orange-gray-50:        #808080 

$orange-gray-25:        #CCCCCC 
$orange-gray-45:        #999999 
$orange-gray-75:        #666666 

//Web colors
//---------------------------------------

//changing brand-primary & secondary colors because of orange front

$brand-primary:          $orange-primary
//$brand-primary:          #E90055 !default
$brand-primary-2:        #007cc8

//$brand-secundary:        #008FD1 !default
$brand-secundary:        #008FD1 !default

$brand-success:          #5cb85c !default
$brand-info:             #5bc0de !default
$brand-warning:          #f0ad4e !default
$brand-danger:           #d9534f !default

$ediphy-color:           #17CFC8
$ediphy-color-dark:      #14b8b2  

$auxiliarColor:          $white