.excursion-item
    margin-bottom: 1em
    .card
        .container-img
            padding-bottom: 63.29%
            position: relative
            background-color: $gris
            .card-img-top
                border-radius: 0px
                position: absolute
                width: 100%
                height: auto
                min-height: 100%
                width: 100%
                min-width: auto
                object-fit: cover
                max-height: 66.66%

        .card-body
            .card-title
                overflow: hidden
                display: -webkit-box
                color: $orange
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                min-height: 2.5rem