a
	text-decoration: none
	color: $orange
ul
	padding-left: 0
	list-style: none
.scrollup
	padding: 20px
	background: $gray-dark
	font-size: 20px
	color: #fff
	cursor: pointer
	position: fixed
	z-index: 2000
	bottom: 72px
	right: 15px
	border-radius: 50px
	display: none
	opacity: 0.5
