#profile-info
	display: flex
	margin-top: 1em
	margin-bottom: 1em
	.information
		flex: 1
		margin: 1em
		.briefing
			display: block
			.helpheader
				float: right
				position: relative
			.tagList
				display: none
		.update
			display: none
	.showMore 
		i
			margin-right: 2px 
.info-profile
	.nav-tabs
		.nav-item
			.nav-link
				padding: .275rem .25rem
				font-size: 90%
				color: black
				text-transform: capitalize
				&:hover, &:focus, &:active
					background-color: white
				img
					width: 14px

				img, i
					margin: 2px 4px
					vertical-align: middle

		.follow-tab
			.nav-link
				font-size: 90%
				padding: .275rem .15rem
				span
					margin-right: 0.15em
	.tab-content
		.order_by_selector
			margin-bottom: 1em
			text-align: right