.tagit-choice
	background: $orange
	position: relative
	padding: 5px 10px
	display: inline-block
	margin-right: 10px
	.tagit-close
		top: -8px
		right: -8px
		color: black
		position: absolute
		cursor: pointer
		text-decoration: none
.tagit-new
	margin-top: 5px
.ui-helper-hidden-accessible
	display: none