.create_account
  background: #e4e4e4
  padding: 32px 0
  text-align: center
  .btn
    display: inline-block
    border-radius: 0
    margin: 24px 16px 0 20px
    padding: 4px 20px
  .btn_reg
    background: $orange-primary
  .btn_ent
    background: $orange-gray-25
  .btn_exp
    background: $white
