//colors
$color_log_cabin_approx: #222
$color_tundora_approx: #444
$white: #fff
$black: #000
$color_mercury_approx: #e4e4e4
$black_70: rgba(0, 0, 0, .7)

//@extend-elements
.extend_1
	margin: 0 auto
	padding: 0
	vertical-align: baseline
.extend_2
	display: inline-block
	position: absolute
	top: 2vh
//end @extend-elements

html, body, header, div, span, applet, object, iframe,
hgroup, h1, h2, h3, h4, h5, h6, p, , a, blockquote, pre,
ul, ol, li, abbr, acronym, address, article, aside,
big, cite, center, code, del, dfn, em, img, ins, kbd,
section, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, dl, dt, dd,
fieldset, form, label, legend, table, caption,
menu, nav, tbody, thead, tfoot, tr, td, canvas, details,
figure, figcaption, footer, embed, output,
ruby, summary, time, mark, audio, video
	@extend %extend_1

header, section, article, aside, footer, nav,
menu, hgroup, details, figure, figcaption
	display: block

h1, h2, h3, h4, h5, h6
	margin: 0

a
	color: $color_log_cabin_approx
	text-decoration: none

ul, ol
	list-style: none

blockquote, q
	quotes: none
	&:before
		content: ''
		content: none
	&:after
		content: ''
		content: none

footer
	padding: 2em
	section
		p
			margin: 1em 0
			font-size: .9em
			line-height: 1.4em
			span
				color: $black_70
				font-weight: 300
		&:first-child
			padding-left: 2.4em

		&:last-child
			padding-right: 2.4em
		ul li
			margin: 1em 0

	.brand2 a
		font-size: 1.2em
		span
			font-weight: bold


header
	background: $color_log_cabin_approx
	height: 8vh
	.brand, .form_header
		@extend %extend_2
	.brand
			left: 1.6em
	.form_header
			right: 1.6em
		a
			color: $white
			font-size: 1.6em
			span
				font-weight: bold

		i
			color: $color_log_cabin_approx
			position: relative
			right: 32px

		input[type=search]
			min-width: 256px
			padding: .56em
			border: 0
			padding-left: .4em

		input:first-child
			background: $white


.btn
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 0

[class^="col-"]
	padding: 0

.horizontal_line
	border-bottom: solid .4px $color_tundora_approx
	width: 320px

.banner
	background: $color_log_cabin_approx
	color: $white
	padding-bottom: 8vh
	text-align: center
	h2
		margin-top: 12px

	button
		color: $black
		margin: 24px


.articles
	padding: 2em 4em
	overflow: hidden
	article
		margin: .8em 1.6em
		overflow: hidden

		> div
			padding-bottom: 1.6em
			display: block
			height: auto

		h3
			margin: .8em 0
			display: inline-block
			font-weight: 700

		h4
			margin: .8em 0

		p
			font-size: 1.2em

		.article_cont
			padding: 1.6em
			.btn
				margin: .8em 0
				//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
				border-radius: 0

		.article_img
			height: 32vh
			background: $color_log_cabin_approx
			color: $white

.create_account
	background: $color_mercury_approx
	height: 28vh
	text-align: center
	.btn
		//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
		border-radius: 0
		margin: 2em 1em


*FOOTER*/footer
	border-top: solid 1px $black
	overflow: hidden

*MAIN*/main section
	padding: 2em
