html, body, header, div, span, applet, object, iframe,
hgroup, h1, h2, h3, h4, h5, h6, p, , a, blockquote, pre,
ul, ol, li, abbr, acronym, address, article, aside,
big, cite, center, code, del, dfn, em, img, ins, kbd,
section, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, dl, dt, dd,
fieldset, form, label, legend, table, caption,
menu, nav, tbody, thead, tfoot, tr, td, canvas, details,
figure, figcaption, footer, embed, output,
ruby, summary, time, mark, audio, video
	margin: 0
	padding: 0
	vertical-align: baseline
	
header, section, article, aside, footer, nav,
menu, hgroup, details, figure, figcaption
	display: block

h1, h2, h3, h4, h5, h6
	margin: 0

a
	color: #222
	text-decoration: none

ul, ol
	list-style: none

blockquote, q
	quotes: none
	&:before
		content: ''
		content: none
	&:after
		content: ''
		content: none
