.articles
  padding: 2em 0
  article
    > div
      display: block
      margin: 0 auto
    h3, h4
      margin-bottom: .8em
    h3
      display: inline-block
      font-weight: 700

.item_L
  float: left
.item_R
  float: right

.left_36
  left: 36px !important

.img_block
  width: 40%
  height: 256px
  text-align: center
  img
    width: auto
    height: 100%

.text_block
  width: 60%
  .title_block, .p_block
    color: #222
  .title_block
    width: 100%
    font-size: 1.2em
  .p_block
    width: 88%
    padding: 12px 0

.horizontal_line
  border-bottom: solid 1px #444
  width: 320px
  margin: 2em auto
