//global structure
body, html
  height: 100%

#wrap
  min-height: 100%
  max-width: 100%
  margin: 0 auto
  padding: 0
  position: relative


.container-content
  padding-bottom: 275px
  overflow: auto
  @media (max-width: 768px)
    padding-bottom: 175px

.footer
  position: absolute
  width: 100%
  bottom: 0
  height: 275px
  background-color: white
  @media (max-width: 768px)
    height: 175px

//articles
.articles
  article
    h3
      display: block
      margin-top: .4em
      margin-bottom: .8em

//utilities
.float_L
  float: left
.float_R
  float: right

// For social_networks
.left_44
  left: 44px !important
.padding_btn
  padding: 12px 16px !important
// / For social_networks

.disp_none
  display: none !important
.disp_block
  display: block !important

.veil
  background: rgba(0, 0, 0, .2)
  width: 100vw
  height: 100vh
  position: absolute
  z-index: 998

.horizontal_line
  border-bottom: solid 1px $gray
  width: 300px
  margin: 10px auto

label
  cursor: auto
*
  outline: 0 !important
a
  &:hover,&:focus
    text-decoration: none

  .fa-star
    color: $brand-primary

  .fa-star-o
    color: $gray
    &:hover
      color: $brand-primary !important

// old scaffolding

#user_occupation
  margin-bottom: 10px
  min-height: 26px

.tagit-new
  .tagit-input
    margin-bottom: 10px
.primary
  color: $brand-primary

.green
  color: green
.underline
  text-decoration: underline

.no_content
  padding: 10px
  background-color: $gray-lighter-extra
  color: $gray-light
.width100
  width: 100%
textarea,input
  resize: none
.tab-content
  overflow: visible

input#captcha
  @extend .form-control

// end old scaffolding
