//------------------------
//utilities
//------------------------
.flex
  display: flex
.flex_wrap
  flex-flow: wrap
.flex_center
  display: flex !important
  @include flex_container
.flex_wrap_center
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center

//float
.float_L
  float: left
.float_R
  float: right

//display
.disp_none
  display: none !important
.disp_block
  display: block !important

//color
.primary
  color: $brand-primary

a.primary
  &:hover
    color: lighten($brand-primary,25%)

.green
  color: green
.bg_transparent
  background-color: transparent !important


//text
.align_right
  text-align: right

.align_center
  text-align: center !important
//fixes
.fix_gap
  margin-top: -60px

//padding
.padding_bottom60
  padding-bottom: 60px !important
.padding10
  padding: 10px !important

//margin
.space_top
  margin-top: 20px
.margin_10_right
  margin-right: 10px
.margin_5_left
  margin-left: 5px
.margin_auto
  margin: auto !important

//width
.width100
  width: 100%
.min_width_btn
  min-width: 100px
.maxwidth_60
  max-width: 60% !important


.underline
  text-decoration: underline

.no_content
  padding: 10px
  background-color: $gray-lighter-extra
  color: $gray-light
