

<li class="">

  <div class="course_small">
    
    <%= link_to(course) do %>
    <div class="course_small_image">
      <div class="course_small_icon">
        <img class="courses_corner" src="assets/orange/corner_course_icon.png" alt="corner_icon"/>
      </div>
      <div class="course_small_accreditation">
        <img class="courses_accreditation" src="assets/orange/castillaleon.png" alt="accreditation"/>
      </div>
      <div class="course_small_img">
        <div class="img-box-small" style="background-image: url('<%=course_raw_thumbail(course)%>')">
        </div>
      </div>
    </div>
    <% end %>


    <div class="course_small_info">
      <!--Title -->
        <p class="course_small_title">
          <%= link_to truncate(course.title, :length => 65), course %>
        </p>

    </div>

  </div>

</li>