.why
  width: 40%
  height: auto
  text-align: center

.values, .great_team
  width: 68%
  display: block

.values
  .article_img
    width: 32%
  .article_cont
    width: 68%

.sub_values
  background: $gray-lighter
  width: 100%
  padding: 2.4em 15.6em
  overflow: hidden
  div
    width: 32.8%
    display: inline-block
    div:not(:last-child)
      border-right: solid .4px #444
      height: 24px
    h5, span
      font-size: 1.2em
      display: block
    h5
      margin-bottom: .4em
      font-weight: 300
    span
      color: $orange-primary
      font-weight: 700

.great_team
  padding: 2.4em 0
  p, h3
    width: 50%
  p
    float: right
  .great_team_imgs
    width: 100%
    padding-top: 2.4em
    overflow: hidden
    > div
      width: 32.8%
      display: inline-block
    .great_team_img
      height: 128px
      background: #444
