//-----------------------------
// contest 2017
//-----------------------------
.contest_blocks
  .contest_block
    @include block
  .contest_block_dark
    @include block
    background: $gray-lighter-extra

.item_extra_text
  width: 150px
  padding: 0px 10px
  color: $gray
  text-align: center
  @media (max-width: 768px)
    display: none


.intro_icon_block
  width: 100px
  height: 100px
  background: $orange-primary
  border-radius: 50%
  display: block
  position: relative
  padding: 20px 13px
  top: -80px
  margin: auto
  text-align: center
  i
    color: $white
.btn-copy
  width: 101%
  position: absolute
  left: -1px
  top: 86%
  i
    margin: 0 5px
  @media (max-width: $screen-xs-min)
    width: 40%
    left: 0
    top: 64%


//-----------------------------
// contest 2016
//-----------------------------
//homepage banner
//#banner
  position: absolute
  top: 10%
  //left: 3%
  right: 0
  z-index: 555

//#close_banner
  color: $gray-dark
  text-align: right
  font-size: 1.2em
  font-weight: bold
  padding: 2px 7px
  position: absolute
  top: -25px
  right: 50px
  &:hover
    color: black
    cursor: pointer

//.banner_concurso
  height: 300px
  width: 500px
  position: relative
  overflow: hidden
  img
    width: 100%
    position: absolute

//contest page
//.contest_content
  background-color: white
  padding: 40px
  @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
  a h3
    color: $gray-darker
    &:hover
      color: $brand-primary

  //.text_info
    h2
      font-weight: bold
  //.video
    .girl_img
      width: 100%
      padding-bottom: 20px
    .video_container
      height: 0px
      width: 100%
      padding-top: 56.25%
      position: relative
      margin: 10px 0
    .video_pres
      position: absolute
      height: 100%
      width: 100%
      top: 0px
      left: 0px
  //.expand
    .showMore
      margin-right: 7px
  //.more_info
    margin-top: 10px
    .section_info_1
      padding: 20px
      background-color: $gray-lighter
    .section_info_2
      padding: 20px
  //.win
    display: flex
    flex-wrap: wrap
    justify-content: center
    .box-item
      @media (min-width: 992px) and (max-width: 1750px)
        width: 40%

  //.items
    padding: 10px 0
    p
      padding: 20px
      margin-bottom: 20px
      background-color: $gray-lighter
    .add-item, .item-view-more
      &:hover
        cursor: pointer

//winners page
//.section_winners
  overflow: hidden
  .section_jury
  .section_public
    float: right
    @media (max-width: 992px) and (min-width: 850px)
      float: left
  img
    max-width: 100%
    max-height: 100%


//.email_box
  padding: 0 0 0 15px
  position: fixed
  right: 20px
  .title_box
    background-color: $gray-dark
    color: white
    padding: 10px
    text-align: center
    font-size: 0.9em
  .form_box
    padding: 10px
    background-color: white
    .form-group
      margin: 0
      .actions
        margin-top: 10px
    input[type=text]
      margin-bottom: 10px
      height: 37px
    .lbl
      margin-top: 10px
    .thanks_txt
      margin-bottom: 5px

//@media (min-width: 300px) and (max-width: 991px)
  .email_box
    position: static
    width: 100%
    padding: 15px 15px 60px
//@media (max-height: 700px)
  .email_box
    position: static

//button go up in contest page
.scrollup
  padding: 20px
  background: $gray-dark
  font-size: 20px
  color: #fff
  cursor: pointer
  position: fixed
  z-index: 2000
  bottom: 15px
  right: 15px
  border-radius: 50px
  display: none
  opacity: 0.5
#playlist_contest
  width: 834px
  height: 300px
