#banner
  position: absolute
  top: 10%
  left: 5%
  z-index: 555

#close_banner
  color: black
  text-align: right
  font-weight: bold
  width: 10px
  position: absolute
  top: -25px
  right: -10px
  
.banner_concurso
  background-color: $gray-light
  opacity: 0.7
  height: 350px
  width: 250px
