//homepage banner
#banner
  position: absolute
  top: 10%
  left: 3%
  z-index: 555

#close_banner
  color: $gray-dark
  text-align: right
  font-size: 1.2em
  font-weight: bold
  padding: 2px 7px
  position: absolute
  top: -25px
  right: 50px
  &:hover
    color: black
    cursor: pointer


.banner_concurso
  height: 360px
  width: 280px
  position: relative
  overflow: hidden
  img
    width: 100%
    position: absolute

//contest page
.contest_content
  background-color: white
  padding: 40px
  @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
  .text_info
    h2
      font-weight: bold
  .video
    .girl_img
      width: 100%
      padding-bottom: 20px
    .video_container
      height: 0px
      width: 100%
      padding-top: 56.25%
      position: relative
      margin: 10px 0
    .video_pres
      position: absolute
      height: 100%
      width: 100%
      top: 0px
      left: 0px
  .expand
    .showMore
      margin-right: 7px
  .more_info
    margin-top: 10px
    .section_info_1
      padding: 20px
      background-color: $gray-lighter
    .section_info_2
      padding: 20px
  .items
    padding: 10px 0
    p
      padding: 20px
      margin-bottom: 20px
      background-color: $gray-lighter
    .add-item, .item-view-more
      &:hover
        cursor: pointer

.email_box
  padding: 0 0 0 15px
  position: fixed
  right: 20px
  .title_box
    background-color: $gray-dark
    color: white
    padding: 10px
    text-align: center
    font-size: 0.9em
  .form_box
    padding: 10px
    background-color: white
    .form-group
      margin: 0
      .actions
        margin-top: 10px
    input[type=text]
      margin-bottom: 10px
      height: 37px
    .lbl
      margin-top: 10px
    .thanks_txt
      margin-bottom: 5px

@media (min-width: 300px) and (max-width: 991px)
  .email_box
    position: static
    width: 100%
    padding: 15px 15px 60px
@media (max-height: 700px)
  .email_box
    position: static

//button go up in contest page
.scrollup
  padding: 20px
  background: $gray-dark
  font-size: 20px
  color: #fff
  cursor: pointer
  position: fixed
  z-index: 2000
  bottom: 15px
  right: 15px
  border-radius: 50px
  display: none
  opacity: 0.5
