
@import elab_general 

//----------- HEADER ------------


* 
	backface-visibility: hidden

.elab_main
	+el_box-sizing(border-box)
	height: 100vh
	background: $el_background
	color: white
	font-family: $el_OrangeBolder
	+el_cursor
	+el_select_text(none)

	.main_header
		display: flex
		flex-flow: row nowrap
		height: 3.5em
		background: $el_maincolor
		font-size: 1.5em
		.elab_logo
			+el_flex
			justify-content: center
			height: 3.5em
			width: 3.5em
			background: $el_background
			+el_hand_cursor
			.logo
				.e-light
					font-family: $el_OrangeLighter
					line-height: 2em
				+el_transition_default
				&:hover
					+el_hover_scale
					+el_hand_cursor
		.header_options
			+el_flex
			justify-content: space-between
			width: calc(95% - 3.5em)
			margin: 0 auto
			.search
				span.icon-search:before
					vertical-align: text-bottom
				.field_search
					border: none
					background: transparent
			.main_actions
				.option
					margin-left: 1em
					&.languaje
						span.icon-arrow_down:before
							font-size: .5em
							margin-left: .5em

	.elab-container
		display: flex
		flex-flow: row nowrap
		height: calc(100vh - 5.3em)
		.lateral-menu
			display: flex
			flex-flow: column wrap
			justify-content: space-between
			height: calc(100vh - 2.62em)
			min-width: 2.62em
			font-size: 2em
			text-align: center
			background-color: $el_secondarycolor 
		.icon-menu
			padding-top: .8em
			+el_transition_default
			+el_hand_cursor
			&:hover
				+el_hover_scale
			&.is-checked
				color: $el_maincolor

		.language_menu
			position: relative
			font-size: .8em
			.current_language
				margin-bottom: .8em
				span
					&.icon-arrow_up
						+el_hand_cursor
						font-size: .45em
						line-height: 2em
						opacity: 1
						+el_transition_default
						&:before
							+el_transition_default
							+el_transform(rotate(0deg))
						&:hover
							&:before
								opacity: .5
								//+el_transition_default
								//+el_transform(rotate(180deg))
						&.closed
							&:before
								+el_transform(rotate(180deg))
							//&:hover
								//&:before
									//+el_transition_default
									//+el_transform(rotate(0deg))

			.other_languages
				position: absolute
				bottom: 2.2em
				left: 1em
				max-height: 0
				overflow: hidden
				opacity: 1
				+el_transition_default
				&.closed
					opacity: 0
					+el_transition_default
				.lang
					opacity: .5
					a
						+el_hand_cursor
					+el_transition_default
					&:hover
						opacity: 1
						+el_transition_default


		.main-elab-content
			width: calc(99% - 2.62em)
			overflow-y: auto
			overflow-x: hidden
			.educainternet-footer
				z-index: 1
				position: absolute
				bottom: 1em
				right: 1.2em
				.educa-text
					font-family: $el_OrangeLighter
					vertical-align: middle
					margin-right: .3em
				.educainternet-logo
					+el_hand_cursor
					vertical-align: middle
					font-size: 1.5em
					.educa
						font-family: $el_OrangeLighter
			.elab-text
				padding: .5em 1em 0 1em
				font-size: calc(3vh + 2.5vw + 2em)
				line-height: calc(.5vh + .5vw + 1em)
				//height: calc(100vh - .62em)
				+el_transition_default
				.e-light
					font-family: $el_OrangeLighter
				.text-arrow
					text-align: center
					line-height: 0
					margin-top: .4em
					span.scroll_arrow
						opacity: 1
						font-size: calc(.3vh + .3vw + .3em)
						+el_transition_default
						+el_hand_cursor
						&:hover
							opacity: .7
							//+el_transform (scale(1.2, 1.2))
							+el_transition_default
			.elab-apps
				+el_transition_default
				//position: absolute
				//top: 100vh
				//display: flex
				//flex-flow: row wrap
				//justify-content: space-between
				//align-items: center
				//margin: auto 2em
				//display: grid
				//grid-template-columns: repeat(4, 20.5vw)
				//grid-template-rows: repeat(1, 20.5vw)
				//grid-gap: 2.3vw
				//justify-content: center
				padding-top: 2em
				margin: 1em 0 3em 2.5em
				min-height: calc(100vh - 125px)
				&, * 
					//border: 1px solid tomato
				&:after 
					content: ''
					display: block
					clear: both
				p
					font-family: $el_OrangeBolder
				.alt_text
					+el_flex
					justify-content: center
					height: calc(100vh - 125px)
					margin: 0 1em
					font-size: calc(2vh + 1.5vw + 1em)
					line-height: calc(.5vh + .5vw + 1em)
				.app-item
					float: left
					margin-right: 30px
					margin-bottom: 30px
					$el_cols: 4
					width: calc(100% / #{$el_cols} - #{$el_cols - 1}/#{$el_cols} * 30px - 8px)
					&:nth-child(#{$el_cols}n)
						//margin-right: 0px
					+el_transition_app
					&.big
						width: calc((100% / #{$el_cols} - #{$el_cols - 1}/#{$el_cols} * 30px - 8px) * 2 + 30px)
						+el_transition_app
						.app
							background-color: white !important
							.app_text
								display: none
							.app_cross
								display: block
								position: absolute
								top: 1.5em
								right: 1.5em
								color: black
								font-size: .5em
								-webkit-text-stroke: 1px black
								+el_hand_cursor
								+el_transition_default
								&:hover
									+el_hover_scale
									+el_transition_default
							.def_app
								display: block
								opacity: 1
								color: black
								+el_transition(opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1))
								.def_title
									font-size: calc(1vw + 1vh + .7em)
								.def_author
									opacity: .7
									line-height: calc(.8vw + .8vh + .1em)
								.def_details
									opacity: .5
									font-size: calc(.9vw + .9vh + .1em)
									margin: .5em 0 .3em 0
									.def_det
										margin-right: .5em
										&.def_rate
											border: 1px solid black
											padding: 0 .2em
								.def_definition
									font-size: calc(.8vw + .8vh + .1em)
									line-height: calc(.8vw + .8vh + .12em)
								.def_play
									//position: absolute
									//bottom: .8em
									//right: 1em
									+el_flex
									justify-content: flex-end
									font-size: calc(.8vw + .8vh + .1em)
									color: black
									margin-top: .4em
									img
										width: 1em
										margin-left: .3em
										+el_transition_default
										&:hover
											+el_hover_scale
											+el_transition_default
									+el_transition_default
									+el_hand_cursor
									&:hover
										+el_hover_opacity
										//+el_transition_default

					.app
						padding: 1em
						font-size: calc(1vw + 1vh + .5em)
						border: 4px solid transparent
						+el_transition_app
						overflow: hidden
						&:not(.no-hover):hover
							+el_transform(scale(1.1))
							border: 4px solid white
							+el_transition_default
							.app_text
								+el_transform(scale(.93))
								+el_transition_default
								.name
								.def_arrow
									display: block
									opacity: 1
									+el_transition_default
									span
										+el_hand_cursor
										+el_select_text(auto)
						& >
							position: absolute
						.app_cross
							display: none
						.def_app
							+el_transition(opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1))
							opacity: 0
							display: none
						.app_text
							+el_flexx
							justify-content: space-between
							+el_transition_default
							.name_text
								+el_column_flexx
								justify-content: space-between
								width: 100%
								height: 17vw
								.type
									text-align: right
								.name
									.app_go
										display: block
										+el_hand_cursor
										.name1, .name2
											font-size: 1.6em
											line-height: .9em
							.def_arrow
								display: none
								position: absolute
								right: -2em
								top: 50%
								+el_transform (translate(-50%, 0))
								font-size: .8em
								opacity: 0
								span
									+el_select_text(none)
									+el_transition_default
									&:hover
										opacity: .5
										+el_transition_default
						&.fakedetector
							background-color: $fd_bg
							.name
								p
									&.name1
										color: white
									&.name2 
										color: $fd_txt
							&.news
								.type
									color: $fd_new
							&.phishing
								.type
									color: $fd_phi
							&.health
								.type
									color: $fd_hea
						&.passcheck
							background-color: $pc_bg
							.name
								p
									&.name1
										color: white
									&.name2 
										color: $pc_txt
						&.quizgenerator
							background-color: $qg_bg
							.name
								p
									&.name1
										color: white
									&.name2 
										color: $qg_txt
						&.wordition
							background-color: $wd_bg
							.name
								p
									&.name1
										color: white
									&.name2 
										color: $wd_txt
										.name_pre
											color: white


@media (max-width: $el_media1)
	
	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					.text-arrow
						margin-top: .2em
				.elab-apps
					.alt_text
						margin: -1em 1em
					.app-item
						.app
							padding: .8em
							.app_text
								.name_text
									height: 16vw
								.def_arrow
									right: -1.7em
						&.big
							.app
								.def_app
									.def_title
										font-size: calc(1vw + 1vh + .3em)
										line-height: calc(1vw + 1vh + .5em)
									.def_author
										font-size: calc(.7vw + .7vh + .3em)
									.def_details
										font-size: calc(.7vw + .7vh + .1em)


@media (max-width: $el_media2)
	
	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					padding: 0.3em 0.6em 0.6em 0.6em
					font-size: calc(2.5vh + 2.3vw + 2.3em)
					.text-arrow
						margin-top: .1em


@media (max-width: $el_media4)

	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					margin-top: .7em
					min-height: 92vh
					padding: 0.7em .8em 0 .8em
					font-size: calc(2.5vh + 2.1vw + 2.3em)
					.text-arrow
						margin-top: 1em
				.elab-apps
					.alt_text
						margin: -1em 1em
					.app-item
						margin-right: 30px
						margin-bottom: 30px
						$el_cols: 3
						width: calc(100% / #{$el_cols} - #{$el_cols - 1}/#{$el_cols} * 30px - 12px)
						&:nth-child(#{$el_cols}n)
							//margin-right: 0px
						&.big
							width: calc((100% / #{$el_cols} - #{$el_cols - 1}/#{$el_cols} * 30px - 12px) * 2 + 30px)
						.app
							padding: .8em
							font-size: calc(1vw + 1vh + .3em)
							.app_text
								.name_text
									height: 20vw


@media (max-width: $el_media4) and (orientation: landscape)

	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					margin-top: 0
					min-height: 92vh
					padding: 0.7em .8em 0 .8em
					font-size: calc(2.5vh + 2.1vw + 2em)
					.text-arrow
						margin-top: 1em
				.elab-apps
					.alt_text
						margin: -1em 1em
					.app-item
						.app
							padding: 1em
							font-size: calc(1vw + 1vh + .5em)
						&.big
							.app
								.def_app
									.def_title
										font-size: calc(1vw + 1vh + .8em)
									.def_author
										font-size: calc(1vw + 1vh + .3em)
										line-height: calc(.8vw + .8vh + .7em)
									.def_details
										font-size: calc(.9vw + .9vh + .15em)
									.def_definition
										margin-top: .4em
										font-size: calc(.8vw + .8vh + 0.2em)
										line-height: calc(.8vw + .8vh + 0.2em)


@media (max-width: $el_media5)
	
	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					margin-top: 0
					padding: 1em 0.8em 0 0.8em
					font-size: calc(2.5vh + 2vw + 1.6em)
					.text-arrow
						margin-top: .5em


@media (max-width: $el_media6) and (orientation: landscape)
	
	.elab_main
		.main_header
			height: 2.6em
			.elab_logo
				height: 3.4em
				width: 3.3em
				font-size: .8em
			.header_options
				font-size: .8em
		.elab-container
			.lateral-menu
				font-size: 1.5em
			.main-elab-content
				height: calc(100vh - 50px)
				.elab-text
					margin-top: 0
					padding: 1em 0.8em
					font-size: calc(2.5vh + 2vw + 1.35em)
					.text-arrow
						margin-top: .5em
				.elab-apps
					.app-item
						.app
						&.big
							.app
								.def_app
									.def_title
										font-size: calc(1vw + 1vh + .9em)
									.def_author
										font-size: calc(1vw + 1vh + .45em)
										line-height: calc(.8vw + .8vh + .7em)
									.def_details
										font-size: calc(.9vw + .9vh + .3em)
									.def_definition
										margin-top: .4em
										font-size: calc(.8vw + .8vh + 0.35em)
										line-height: calc(.8vw + .8vh + 0.35em)
									.def_play
										font-size: calc(.8vw + .8vh + 0.2em)
				.educainternet-footer
					font-size: .8em


@media (max-width: $el_media7) and (orientation: portrait)

	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					margin-top: 1em
					padding: 0.7em
					font-size: calc(2vh + 2vw + 2.2em)
					.text-arrow
						margin-top: 1em
				.elab-apps
					.alt_text
						margin: -1.5em 0.5em
						font-size: calc(1.5vh + 1.5vw + 1em)
					.app-item
						.app
							font-size: calc(1vw + .9vh + .2em)
							.app_text
								.name_text
									height: 18vw
						&.big
							.app
								padding: .8em
								.def_app
									.def_title
										font-size: calc(.7vw + .7vh + .4em)
									.def_author
										font-size: calc(.6vw + .6vh + .2em)
										line-height: calc(.6vw + .6vh + .5em)
									.def_details
										margin: 0
										font-size: calc(.6vw + .6vh + .1em)
									.def_definition
										margin-top: .2em
										font-size: calc(.6vw + .6vh + .1em)
										line-height: calc(.6vw + .6vh + .2em)
									.def_play
										font-size: calc(.6vw + .6vh + .1em)



@media (max-width: $el_media7) and (orientation: landscape)

	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					padding: 0.7em
					font-size: calc(2vh + 2vw + 2.2em)
					.text-arrow
						margin-top: 1em
				.elab-apps
					.alt_text
						margin: -1.5em 0.5em
						font-size: calc(1.5vh + 1.5vw + 1em)
					.app-item
						.app
							font-size: calc(1vw + .9vh + .2em)
							.app_text
								.name_text
									height: 18vw
						&.big
							.app
								padding: .8em
								.def_app
									.def_title
										font-size: calc(.8vw + .8vh + .5em)
									.def_author
										font-size: calc(.8vw + .8vh + .2em)
										line-height: calc(.8vw + .8vh + .5em)
									.def_details
										margin: 0
										font-size: calc(.8vw + .8vh + .1em)
									.def_definition
										margin-top: .2em
										font-size: calc(.7vw + .7vh + .1em)
										line-height: calc(.7vw + .7vh + .1em)
									.def_play
										font-size: calc(.65vw + .65vh + .1em)



@media (max-width: $el_media7)
	@media (max-height: $el_media13)
		.elab_main
			.elab-container
				.main-elab-content
					.elab-text
						font-size: calc(2vh + 2vw + 1.5em)
						.text-arrow
							margin-top: 0.3em
					.elab-apps
						.app-item
							.app
								font-size: calc(1vh + .8vw + .5em)
								.app_text
									.name_text
										height: 20vw
							&.big
								.app
									padding: .8em
									.def_app
										.def_title
											font-size: calc(1.3vw + 1.3vh + .7em)
										.def_author
											font-size: calc(1.1vw + 1.3vh + .4em)
											line-height: calc(1.1vw + 1.3vh + .7em)
										.def_details
											margin: 0
											font-size: calc(1.2vw + 1.2vh + .2em)
										.def_definition
											margin-top: .2em
											font-size: calc(1vw + 1vh + .3em)
											line-height: calc(1vw + 1vh + .3em)
										.def_play
											font-size: calc(.8vw + .8vh + .3em)



@media (max-width: $el_media9) and (orientation: landscape)

	.elab_main
		.elab-container
			.main-elab-content
				height: calc(100vh - 51px)
				.elab-text
					font-size: calc(1vh + 1.5vw + 2.1em)
					.text-arrow
						margin-top: 0.2em
				.elab-apps
					.app-item
						.app
							font-size: calc(.8vh + .8vw + .5em)
							.app_text
								.name_text
									height: 19vw
						&.big
							.app
								padding: .8em
								.def_app
									.def_title
										font-size: calc(1.2vw + 1.2vh + .5em)
									.def_author
										font-size: calc(1.1vw + 1.1vh + .2em)
										line-height: calc(1.1vw + 1.1vh + .5em)
									.def_details
										margin: 0
										font-size: calc(1.1vw + 1.1vh + .1em)
									.def_definition
										margin-top: .2em
										font-size: calc(1vw + 1vh + .1em)
										line-height: calc(1vw + 1vh + .1em)
									.def_play
										font-size: calc(.8vw + .8vh + .1em)


@media (max-width: 667px)
	@media (max-height: 375px)
		.elab_main
			.elab-container
				.main-elab-content
					.elab-text
						font-size: calc(1vh + 1.5vw + 1.9em)


@media (max-width: $el_media10)

	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					margin-top: 0
					font-size: calc(2vh + 2vw + 1.8em)
					.text-arrow
						margin-top: .3em
				.elab-apps
					.alt_text
					.app-item
						margin-right: 20px
						margin-bottom: 20px
						$el_cols: 2
						width: calc(100% / #{$el_cols} - #{$el_cols - 1}/#{$el_cols} * 20px - 12px)
						&:nth-child(#{$el_cols}n)
							//margin-right: 0px
						&.big
							width: calc((100% / #{$el_cols} - #{$el_cols - 1}/#{$el_cols} * 20px - 12px) * 2 + 20px)
							.app
								padding: .8em
								.def_app
									.def_title
										font-size: calc(1vw + 1vh + .5em)
										line-height: calc(1vw + 1vh + .8em)
									.def_author
										font-size: calc(.7vw + .7vh + .5em)
									.def_details
										margin-top: .2em
										font-size: calc(.7vw + .7vh + .3em)
									.def_definition
										margin-top: .2em
										font-size: calc(.7vw + .7vh + .2em)
										line-height: calc(.7vw + .7vh + .3em)
									.def_play
										font-size: calc(.65vw + .65vh + .3em)
						.app
							padding: .8em
							font-size: calc(1vw + 1vh + .5em)
							.app_text
								.name_text
									height: 29vw



@media (max-width: $el_media10) 
	@media (max-height: $el_media14) 

		.elab_main
			.main_header
				height: 2.2em
				.elab_logo
					height: 2.75em
					width: 3em
			.elab-container
				.lateral-menu 
					font-size: 1.3em
					.filters
						padding: .74em
				.main-elab-content
					.elab-text
						margin-top: 0
						font-size: calc(2vh + 2vw + 1.2em)
					.elab-apps
						.app-item
							.app
								padding: 1em
								font-size: calc(1vw + 1vh + 1em)
							&.big
								.app
									.def_app
										.def_title
											font-size: calc(1.5vw + 1.5vh + .7em)
										.def_author
											margin-top: .2em
											font-size: calc(1.2vw + 1.2vh + .4em)
										.def_details
											font-size: calc(1.1vw + 1.1vh + .3em)
											margin: .5em 0 .3em 0
										.def_definition
											margin-top: .4em
											font-size: calc(1vw + 1vh + .3em)
											line-height: calc(1vw + 1vh + .35em)
										.def_play
											font-size: calc(1vw + 1vh + .2em)


@media (max-width: $el_media11)
	@media (max-height: $el_media15)
	
		.elab_main 
			.elab-container 
				.main-elab-content
					.educainternet-footer
						font-size: 0.6em
				.lateral-menu
					height: calc(100vh - 2.75em)
					font-size: 1.2em
					.filters
						padding: 0.85em



@media (max-width: $el_media13)
	@media (max-height: $el_media6)
		.elab_main
			.elab-container
				.main-elab-content
					.elab-text
						font-size: calc(1.9vh + 1.9vw + 1.5em)
					.elab-apps
						.app-item
							.app
								font-size: calc(.8vw + .8vh + .3em)
							&.big
								.app
									padding: .8em
									.def_app
										.def_title
											font-size: calc(1vw + 1vh + .3em)
											line-height: calc(1vw + 1vh + .6em)
										.def_author
											font-size: calc(.7vw + .7vh + .2em)
										.def_details
											margin-top: .2em
											font-size: calc(.7vw + .7vh + .1em)
										.def_definition
											margin-top: .2em
											font-size: calc(.7vw + .7vh + .1em)
											line-height: calc(.7vw + .7vh + .2em)
										.def_play
											font-size: calc(.65vw + .65vh + .1em)


@media (max-width: $el_media13)
	@media (max-height: $el_media9)
		.elab_main
			.elab-container
				.main-elab-content
					.elab-text
						font-size: calc(2.2vh + 1.3vw + 1.5em)



@media (max-width: $el_media13) 

	.elab_main
		.main_header
			height: 3.2em
			font-size: 1em
			.elab_logo
				height: 3.4em
				width: 3.6em
			.header_options
				padding: 0 1em
				.search
					width: 30% 
					+el_flex
					.field_search
						width: 100% 
		.elab-container
			.lateral-menu 
				font-size: 1.3em
				height: calc(100vh - 2.45em)
				.filters
					padding: .74em
			.main-elab-content
				height: calc(100vh - 41.5px)
				.elab-text
					//margin-top: .3em
					font-size: calc(1.9vh + 1.3vw + 1.5em)
				.elab-apps
					margin: 1em 0 1.5em 1.7em
					.alt_text
						margin: -1em 0.5em
					.app-item
						&.big
							.app
								padding: .8em
								.def_app
									.def_title
										font-size: calc(1vw + 1vh + .4em)
										line-height: calc(1vw + 1vh + .7em)
									.def_author
										font-size: calc(.7vw + .7vh + .4em)
									.def_details
										margin-top: .2em
										font-size: calc(.7vw + .7vh + .2em)
									.def_definition
										margin-top: .2em
										font-size: calc(.7vw + .7vh + .1em)
										line-height: calc(.7vw + .7vh + .2em)
									.def_play
										font-size: calc(.65vw + .65vh + .2em)
						.app
							padding: .8em
							font-size: calc(.7vw + .7vh + .5em)
							.app_text
								.name_text
									height: 25vw
				.educainternet-footer
					font-size: .6em



@media (max-width: $el_media14) and (orientation: portrait)

	.elab_main
		.elab-container
			.main-elab-content
				.elab-text
					font-size: calc(1.6vh + 1vw + 1.6em)


@media (max-width: $el_media15) 

	.elab_main
		.main_header
			.header_options
				padding: 0 .2em
		.elab-container
			.main-elab-content
				.elab-text
					font-size: calc(1.6vh + 1vw + 1.45em)
				.elab-apps
					.app-item
						.app
							font-size: calc(.4vw + .4vh + .5em)

