

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-ime-align:auto) //IE 10 & 11

	body
		cursor: auto !important

	a
		cursor: pointer !important


@supports (-ms-ime-align:auto) 
	
	body
		cursor: auto !important
	a
		cursor: pointer !important


