.articles
  article
    .teach
      background: $white
    .resources
    .teach, .resources
      width: 100%
      padding: 1.6em 0
      display: block
      overflow: hidden
      .article_cont, .article_txt, .article_img, .article_links
        margin: 0 auto
      .article_cont
        max-width: 60%
      h3, span
        display: block
        text-align: center
        margin-bottom: .8em

      .article_txt
        p
          margin-bottom: 1.6em

      .article_img, .article_links
        text-align: center

      .article_links
        width: 80%
        button
          margin: .4em

      .article_img
        width: 128px
        height: 128px
        background: $orange-primary
        padding: .8em 0
        border-radius: 50%
        display: block
        i
          color: $white
          position: relative
          top: 24%
