.registration,
.forgot,
.confirmation,
#sign_in
  @include devise-box

.registration
  color: $gray-dark

#user_email.small_field_email
  width: 48%
  float: left

.small_field_email2
  width: 48%
  float: left
  padding: 7px

#new_session
  .checkbox
    display: block
    clear: both
    float: none
    label
      color: $gray !important
  .remember_password
    font-size: 12px
    a
      color: $gray !important
      &:hover
        color: $gray-dark !important
  hr
    margin-top: 20px !important
    margin-bottom: 15px !important
  .new_session
    padding: 17px 0px 7px !important
  input
    &[type="submit"]
      margin-top: -23px

#nav-collapse-out
  .dropdown a
    color: $white
.registration
  hr
    border: 1px solid $gray-lighter
  ul.tag-list
    margin-left: 0
  .conditions
    font-size: 0.9em
    label
      color: $gray !important
.simple_captcha
  width: 100%
  float: left
  margin-top: 8px
  margin-bottom: 20px
  .simple_captcha_image
    width: 40%
    display: block
    float: left
  .simple_captcha_field
    width: 50%
    display: block
    float: left
    margin-left: 16px

.dropdown-log
  width: 242px
  form#new_user
    @include dropdown-log

/*FRONTPAGE _ image */

.illustration
  .social_networks, .drop_right_facebook, .drop_right_twitter, .drop_right_youtube
    position: absolute
    top: 44vh
  .drop_right_facebook, .drop_right_twitter, .drop_right_youtube
    background: #fff
    width: 340px
    height: 500px
    left: -340px
    z-index: 999
  .social_networks
    left: 0
    z-index: 1000
    div
      background: $gray
      display: block
      cursor: pointer
      padding: 8px
      text-align: center
    i
      color: #fff
      font-size: 1.2em
  .facebook_btn
    &:hover
      background: #3B579D
  .twitter_btn
    &:hover
      background: #1DA1F3
  .youtube_btn
    &:hover
      background: #D40C1D

  .box-title-general.contest_img
    height: auto
    img
      bottom: 0
      position: inherit
    .btn-signup-contest
      position: absolute
      right: 3.5vw
      bottom: 3vw
      width: 25vw
      font-size: 1.2em

  .box-title-general
    height: 100px
    position: relative
    overflow: hidden
    margin-top: 52px
    img
      width: 100%
      position: absolute
      bottom: -250px
    hr
      border: 1px solid #999
      margin: 5px 0
      border-bottom: none
    h1
      margin-top: 0px
      text-align: center
      font-family: $corporate-font-family-sans-serif-Light
      font-size: 20px
      line-height: 24px
    .main-title
      @include gradientcolor
      position: relative
      text-align: center
      height: 100px
      padding: 20px
      .title
        font-size: 3em
        font-family: $font-family-sans-serif-titles
        text-shadow: 1px 1px 3px rgba(51, 51, 51, 0.25)
        color: white
        font-weight: 500
        line-height: 1.2em

  .main-box
    position: relative
    overflow: hidden
    img
      width: 100%
      position: absolute
      top: -200px
    .main-title
      position: relative
      background: $opacity2
      text-align: center
      padding: 200px 0 60px 0
      .btn-main-title
        position: relative
        margin: 30px
      .title
        font-family: $font-family-sans-serif-titles
        color: #fff
        font-weight: 500
        line-height: 1.2em
        text-shadow: 2px 2px 4px rgba(52, 52, 52, 0.24)
        h1
          font-size: 4em
        h2
          font-size: 2em

#frontpage
  .entities
    h3
      font-weight: 200
      font-size: 1.6em
      margin-bottom: 12px
    .entities_front
      margin-bottom: 10px
      float: left
      width: 100%
    .front_blocks
      padding: 0
      .block_darker
        background: $gray-lighter
      .block, .block_darker
        margin-bottom: 20px
        padding: 20px 128px
        overflow: hidden

#banner_head
  background: white
  padding: 15px
  .banner_align_right
    position: relative
    text-align: right
    padding: 0 10px
    .banner_orange_color
      color: $orange-primary
      font-weight: bold
  .banner_course_title
    margin: 0
    padding: 5px 20px
  .banner_logos
    text-align: center
    padding: 10px
    .banner_enrol_button
      position: relative
      padding: 0 25px
    .banner_one_logo
      padding: 0 10px
      img
        max-height: 42px

// media-queries

@media (min-width: 1751px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+7)
      display: block

@media (min-width: 1501px) and (max-width: 1750px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+6)
      display: block

@media (min-width: 1200px) and (max-width: 1500px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+5)
      display: block

@media (min-width: 992px) and (max-width: 1199px)
  #frontpage
    .entities
      .front_blocks
        .block, .block_darker
          padding: 20px 64px
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+4)
      display: block
  .illustration
    .main-box
      img
      .main-title
        padding: 52px
        .title
          h1
            font-size: 3.6em

@media (min-width: 768px) and (max-width: 991px)
  #frontpage
    .entities
      .front_blocks
        .block, .block_darker
          padding: 20px 40px
          .text_block
            padding-left: 20px
  .entities_front
    .front_blocks
      .block, .block_darker
        padding: 20px 100px
    .box-item
      display: none
    .box-item:nth-of-type(-n+3)
      display: block

  .illustration
    .main-box
      .main-title
        padding: 40px
        .title
          h1
            font-size: 3em

    .box-title-general.contest_img
      .btn-signup-contest
        right: 3.5vw
        bottom: 3vw
        width: 30vw
        font-size: 1.2em

@media (min-width: 481px) and (max-width: 767px)
  #frontpage
    .entities
      .front_blocks
        .block, .block_darker
          padding: 20px 30px
          .text_block
            padding-left: 0
            width: 100%
          .img_block
            padding: 20px 0
            width: 100%
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+2)
      display: block

  .illustration
    .main-box
      .main-title
        .title
          h1
            font-size: 2.5em
        .btn-main-title
          display: none
      img
        bottom: 0

    .box-title-general
      .main-title
        padding: 28px
        .title
          font-size: 2.5em
          padding: 10px
      img
        bottom: -50px
    .box-title-general.contest_img
      .btn-signup-contest
        right: 3.5vw
        bottom: 3vw
        width: 35vw
        font-size: 1em

@media (max-width: 480px)
  #frontpage
    .entities
      .front_blocks
        .block, .block_darker
          padding: 20px 20px
          .text_block
            width: 100%
            padding-left: 0
          .img_block
            width: 100%
            padding: 20px 0
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+4)
      display: block
  .illustration
    .social_networks
      display: none
    .main-box
      height: 250px
      .main-title
        padding: 20px
        height: 100%
        .title
          h1
            font-size: 1.8em
        .btn-main-title
          display: none
      img
        bottom: 0px
    .box-title-general
      height: 60px
      .main-title
        .title
          font-size: 1.35em
      img
        bottom: 0px
    .box-title-general.contest_img
      .btn-signup-contest
        left: 3.5vw
        bottom: 3vw
        width: 50vw
        font-size: 1em
