.registration,
.forgot,
.confirmation,
#sign_in
  @include devise-box

.registration
  color: $gray-dark

#new_session
  .checkbox
    display: block
    clear: both
    float: none
    label
      color: $gray !important
  .remember_password
    font-size: 12px
    a
      color: $gray !important
      &:hover
        color: $gray-dark !important
  hr
    margin-top: 20px !important
    margin-bottom: 15px !important
  .new_session
    padding: 17px 0px 7px !important
  input
    &[type="submit"]
      margin-top: -23px

#nav-collapse-out
  .dropdown a
    color: $white
.registration
  hr
    border: 1px solid $gray-lighter
  ul.tag-list
    margin-left: 0
  .conditions
    font-size: 0.9em
    label
      color: $gray !important
.simple_captcha
  width: 100%
  float: left
  margin-top: 7px
  margin-bottom: 20px
  .simple_captcha_image
    width: 40%
    display: block
    float: left
  .simple_captcha_field
    width: 50%
    display: block
    float: left
    margin-left: 15px

.dropdown-log
  width: 242px
  form#new_user
    @include dropdown-log


/*FRONTPAGE _ carousel*/

.ilustration
  height: 350px
  position: relative
  overflow: hidden
  img
    width: 100%
    position: absolute
  .main-title
    position: relative
    text-align: center
    padding: 50px
    .title
      font-size: 4em
      color: white
  .btn-main-title
    position: relative

  //.carousel
    margin-bottom: 20px
    .carousel-indicators
      top: 15px
      margin-left: -21px !important
      width: auto !important
      .active
        background-color: $orange-primary
    .carousel-inner
      height: 380px
      max-height: none
      @media (max-width: $screen-xs-min)
        height: 190px
      .item
        img
          width: 100%
          position: absolute
          top: -100px
          @media (max-width: $screen-xs-max)
            top: 0px
        .carousel-caption
          height: 220px
          top: 0
          left: 0
          background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
          background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
          background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
          background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7))
          @media (max-width: $screen-sm-max)
            height: 280px
          @media (max-width: $screen-xs-min)
            background-color: transparent
            height: 180px
            width: 100%
          .carousel-text
            padding: 60px 0
            font-family: helvetica
            @media (max-width: $screen-sm-max)
              padding: 50px 40px
            .title-car
              color: white
              font-size: 5em
              text-shadow: 1px 1px rgba(51, 51, 51, 0.6)
              font-weight: 100
              opacity: 0.6
              margin-top: -10px
              transition: opacity .5s ease-out
              -moz-transition: opacity .5s ease-out
              -webkit-transition: opacity .5s ease-out
              -o-transition: opacity .5s ease-out
              &:hover
                opacity: 1
              @media (max-width: $screen-xs-min)
                text-align: center
                font-size: 4.5em
                margin-top: 10px

            //.text-car
              color: white
              font-size: 1.1em
              text-shadow: 1px 1px rgba(51, 51, 51, 0.6)
              line-height: 1.3em
              font-weight: 100
              strong
                font-weight: 500
              a
                text-decoration: none
                color: $orange-primary
              @media (max-width: $screen-xs-min)
                display: none


#frontpage
  .entities_front
    display: block
    margin-bottom: 60px
    float: left
    width: 100%


@media (min-width: 1751px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+7)
      display: block

@media (min-width: 1501px) and (max-width: 1750px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+6)
      display: block

@media (min-width: 1200px) and (max-width: 1500px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+5)
      display: block

@media (min-width: 992px) and (max-width: 1199px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+4)
      display: block

@media (min-width: 768px) and (max-width: 991px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+3)
      display: block

@media (min-width: 481px) and (max-width: 767px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+2)
      display: block

@media (max-width: 480px)
  .entities_front
    .box-item
      display: none
    .box-item:nth-of-type(-n+4)
      display: block
