
.container_mooc
  .mooc_image_main
    overflow: hidden
    height: 720px
    padding: 0
    img
      height: 100%
      position: relative
      left: -100px

  .mooc_welcome_text
    background-color: white
    height: 720px
    padding: 40px
    h1
      font-size: 2.5em
      font-weight: bolder
      margin: 0 0 20px 0
    h2
      color: $orange-primary
      font-size: 1.2em
      margin: 5px 0
    p
      padding: 10px
      margin: 0
      color: $orange-gray-75
    .little_font
      font-size: 0.9em
    .highlight
      color: black
      font-weight: 600

  .btn
    margin: 10px 10px 0 0



@media (max-width: 991px)
  .container_mooc
    margin-top: -2.9vw
    .mooc_image_main
      height: auto
      max-height: 350px
      img
        width: 100%
        height: auto
        left: 0
    .mooc_welcome_text
      height: auto
