
.settings
  max-width: 80%
  margin: 0 auto
  @include devise-box
  h1
    font-family: $corporate-font-family-sans-serif-Light
    color: $gray-dark
    margin-bottom: 10px
  .panel-group
    margin: 0
    .panel
      border: 0
      border-bottom: 1px solid
      box-shadow: none
      &:last-child
        border-bottom: 0
      .panel-heading
        padding: 10px
        a
          outline: 0px
          font-family: $corporate-font-family-sans-serif-Light
          font-size: 1.3em
          color: $gray
          &:hover,&:focus
            color: $brand-primary
      .panel-body
        form
          margin-top: -5px
          label
            padding: 0
            color: $gray-dark
            margin: 10px 0
        .accordion-toggle
          @include text-overflow
        input
          &[type="submit"]
            @include pull-right
            margin-top: 15px

  #cancel_account
    &:hover
      border-top-color: $brand-primary !important
      text-decoration: none
      a
        color: $brand-primary !important
  #cancel_account_content
    a
      color: $brand-primary-2 !important
      &:hover
        text-decoration: none


#notifications_settings_content
  span
    font-family: $corporate-font-family-sans-serif-Light
