//colors
$color_tundora_approx: #444

.why
	width: 40%
	height: auto
	display: block
	text-align: center

.values
	width: 68%
	display: block
	.sub_values
		overflow: hidden
		width: 100%
		padding-top: 2em
		div
			padding-left: .8em
			h5
				font-size: 1.2em
				display: block
				margin-bottom: .4em
				font-weight: 300

			span
				font-size: 1.2em
				display: block
				font-weight: 700

			&:not(:last-child)
				border-right: solid .4px $color_tundora_approx
				height: auto


.great_team
	width: 68%
	display: block
	p
		margin-top: 1.2em
		padding: 0 .8em

	h3
		padding: 0 .8em

	.great_team_imgs
		width: 100%
		> div
			padding: .8em 1em

		.great_team_img
			width: 100%
			height: 128px
			background: $color_tundora_approx


.great_team_imgs
	overflow: hidden

.articles article div h4:first-child
	text-align: center
