<h2><%= t('orange_front.create_account.title')%></h2>

<button class="btn btn_reg">
  <%= t('orange_front.create_account.btn_reg')%>
</button>

<button class="btn btn_ent">
  <%= t('orange_front.create_account.btn_ent')%>
</button>

<button class="btn btn_exp">
  <%= t('orange_front.create_account.btn_exp')%>
</button>
