<h2><%= t('orange_front.create_account.title_html')%></h2>

<button class="btn btn-primary">
  <%= t('orange_front.create_account.btn_reg')%>
</button>

<button class="btn btn-secundary">
  <%= t('orange_front.create_account.btn_ent')%>
</button>

<button class="btn btn_default">
  <%= t('orange_front.create_account.btn_exp')%>
</button>
