<footer>
  <section class="col-lg-5">
      <div class="brand2">
        <a href="#">Educa<span>Internet</span></a>
      </div>
        <p><%= t('orange_front.footer.reference_center_html')%></p>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <i class="fa fa-github" aria-hidden="true"></i>
  </section>
  <section class="col-lg-2">
    <h4><%= t('orange_front.footer.project')%></h4>
      <ul>
        <li>Explorar</li>
        <li>Acerca de</li>
        <li>Desarrolladores</li>
        <li>Danos tu opinion</li>
        <!--Desplegable seleccionar idioma-->
      </ul>
  </section>
  <section class="col-lg-2">
    <h4><%= t('orange_front.footer.community')%></h4>
      <ul>
        <li>Blog</li>
        <li>Sala de prensa</li>
        <li>Comunidad</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Canal Youtube</li>
      </ul>
  </section>
  <section class="col-lg-3">
    <h4><%= t('orange_front.footer.help')%></h4>
      <ul>
        <li>Soy una institución</li>
        <li>Política de privacidad</li>
        <li>Condiciones de uso</li>
        <li>Cookies</li>
        <li>Contáctanos</li>
      </ul>
  </section>
</footer>
